
/* se quita el uppercase del titulo del inline*/
.module caption, .inline-group h2 {
    text-transform: none;
}

table .total{
    text-align: right;
}

.eval-options {
    display: flex;
    justify-content: flex-end;
}

.eval-options .button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 0 0 0 5px;
    text-decoration: none;
}

.eval-options .button:hover {
    background: #609ab6;
}

.eval-options .button--reject {
    background: #ba2121;
}

.eval-options .button--reject:hover {
    background: #a41515;
}