{% load static %}<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- meta(http-equiv="Cache-control", content="public")-->
    <!-- meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")-->
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#d93649">
    <meta name="msapplication-TileColor" content="#d93649">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#d93649">
    <link rel="canonical" href="{{ BASE_URL }}">
    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type":    "WebSite",
        "name":     "{{ SHARE_TITLE }}",
        "alternateName": "{{ ALTERNATE_TITLE }}",
        "url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5JX7QD9');
      
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-16719465-59', 'auto');
      ga('send', 'pageview');
      
    </script>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ random }}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="loader" data-controller="detail" data-mobile="{% if request.is_mobile %}true{% else %}false{% endif %}" data-url="{{ BASE_URL }}">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="loader">
      <div class="loader-inner">
        <div class="box">
          <div class="lds-circle">
            <div>
              <!-- ?xml version="1.0" encoding="utf-8"?-->
              <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)-->
              <svg id="Capa_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.63 316.67" style="enable-background:new 0 0 215.63 316.67;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                      fill: #D7D8D8;
                  }
                  
                  .st1 {
                      fill: #FFFFFF;
                  }
                  
                  .st2 {
                      fill: #C10012;
                  }
                  
                  .st3 {
                      fill: #FFF;
                  }
                </style>
                <g>
                  <g>
                    <path class="st3" d="M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91                              C196.87,156.52,156.97,196.4,107.95,196.4z"></path>
                  </g>
                  <g>
                    <g>
                      <rect class="st2" x="55.6" y="119.28" width="104.7" height="18.91"></rect>
                    </g>
                    <g>
                      <polyline class="st2" points="119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="participant">
      <header id="headerformcase">
        <div class="headerformcase-container">
          <div class="headerformcase-inner"><a href="{% url 'website:home' %}"><img class="logo" src="{% static 'images/logo_banner.png' %}" alt="logo"></a></div>
        </div>
      </header>
      <section class="section section-form"></section>
    </div>
    <script src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript"></script>
  </body>
</html>