{% load static %}<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- meta(http-equiv="Cache-control", content="public")-->
    <!-- meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")-->
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#d93649">
    <meta name="msapplication-TileColor" content="#d93649">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#d93649">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ TITLE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta property="og:locale" content="es_LA">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ TITLE }}">
    <meta name="twitter:description" content="{{ DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <link rel="canonical" href="{{ BASE_URL }}">
    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type":    "WebSite",
        "name":     "{{ SHARE_TITLE }}",
        "alternateName": "{{ ALTERNATE_TITLE }}",
        "url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5JX7QD9');
      
    </script>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ random }}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="loader" data-controller="finalparticipant" data-mobile="{% if request.is_mobile %}true{% else %}false{% endif %}" data-url="{{ BASE_URL }}">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="loader">
      <div class="loader-inner">
        <div class="box">
          <div class="lds-circle">
            <div>
              <!-- ?xml version="1.0" encoding="utf-8"?-->
              <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)-->
              <svg id="Capa_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.63 316.67" style="enable-background:new 0 0 215.63 316.67;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                      fill: #D7D8D8;
                  }
                  
                  .st1 {
                      fill: #FFFFFF;
                  }
                  
                  .st2 {
                      fill: #C10012;
                  }
                  
                  .st3 {
                      fill: #FFF;
                  }
                </style>
                <g>
                  <g>
                    <path class="st3" d="M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91                              C196.87,156.52,156.97,196.4,107.95,196.4z"></path>
                  </g>
                  <g>
                    <g>
                      <rect class="st2" x="55.6" y="119.28" width="104.7" height="18.91"></rect>
                    </g>
                    <g>
                      <polyline class="st2" points="119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="finalparticipant">
      <header id="headerdashboard">
        <div class="headerdashboard-container">
          <div class="headerdashboard-inner">
            <div class="hamburger hamburger--ghost">
              <label><span></span><span></span><span></span></label>
            </div><a href="{% url 'website:home' %}"><img class="logo" src="{% static 'images/logo_banner.png' %}" alt="logo"></a>
            <div class="hamburger js_hamburger">
              <label><span></span><span></span><span></span></label>
              <div class="menu js_menu">
                <p class="user">{{ user.get_full_name }}</p><a class="logout" href="{% url 'website:logout' %}">Cerrar Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="section section-index">
        <div class="section-container">
          <div class="section-inner">
            <div class="box">
              <div class="box__item">
                <div class="menu">
                  <div class="title">
                    <p class="text">Finalistas</p>
                  </div>
                  <div class="subtitle">
                    <p class="text">Filtrar</p>
                  </div>
                  <div class="filter">
                    <p class="text text--title">Calificación</p><a class="option option--active js_filter_state" href="?" data-state=""><span class="circle"></span>
                      <p class="text">Todos</p></a><a class="option js_filter_state" href="?state=QUALIFIED_FINALIST" data-state="QUALIFIED_FINALIST"><span class="circle"></span>
                      <p class="text">Calificados</p></a><a class="option js_filter_state" href="?state=FINALIST" data-state="FINALIST"><span class="circle"></span>
                      <p class="text">No calificados</p></a>
                    <div class="artifice">
                      <select class="select js_select_state" name="companystate" id="companystate">
                        <option value="" data-href="">Todos</option>
                        <option value="QUALIFIED_FINALIST" data-href="?state=QUALIFIED_FINALIST">Calificados</option>
                        <option value="FINALIST" data-href="?state=FINALIST">No calificados</option>
                      </select>
                    </div>
                  </div>
                  <div class="filter">
                    <p class="text text--title">Categorías</p><a class="option option--active js_filter_category" href="?" data-category=""><span class="circle"></span>
                      <p class="text">Todos</p></a><a class="option js_filter_category" href="?category=1" data-category="1"><span class="circle"></span>
                      <p class="text">Excelencia Igualitaria Grandes Empresas</p></a><a class="option js_filter_category" href="?category=2" data-category="2"><span class="circle"></span>
                      <p class="text">Caso de Éxito Comunicación Interna Grandes Empresas</p></a><a class="option js_filter_category" href="?category=3" data-category="3"><span class="circle"></span>
                      <p class="text">Excelencia Igualitaria PYMES</p></a><a class="option js_filter_category" href="?category=4" data-category="4"><span class="circle"></span>
                      <p class="text">Caso de Éxito Comunicación Interna PYMES</p></a><a class="option js_filter_category" href="?category=5" data-category="5"><span class="circle"></span>
                      <p class="text">Excelencia Igualitaria Emprendimiento</p></a>
                    <div class="artifice">
                      <select class="select js_select_category" name="companycategory" id="companycategory">
                        <option value="" data-href="">Todos</option>
                        <option value="1" data-href="?category=1">Excelencia Igualitaria Grandes Empresas</option>
                        <option value="2" data-href="?category=2">Caso de Éxito Comunicación Interna Grandes Empresas</option>
                        <option value="3" data-href="?category=3">Excelencia Igualitaria PYMES</option>
                        <option value="4" data-href="?category=4">Caso de Éxito Comunicación Interna PYMES</option>
                        <option value="5" data-href="?category=5">Excelencia Igualitaria Emprendimiento</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box__item">
                <div class="participant">{% for participant in object_list %}<a class="participant__item" href="{% url 'website:final_participantdetail' participant.id %}">
                    <div class="row row--top"><span class="tag">{{ participant.companycategories.first }}</span>{% if participant.state == 'QUALIFIED_FINALIST' %}
                      <div class="state"><span class="state__text">Calificado</span><span class="state__icon state__icon--success"></span></div>{% elif participant.state == 'WINNER' %}
                      <div class="state"><span class="state__text">Ganador</span><span class="state__icon state__icon--success"></span></div>{% else %}
                      {% for evaluation in participant.companydetailevaluation_set.all %}
                      {% if evaluation.jury.username == user.get_username and evaluation.type == 'FINAL' %}
                      {% else %}
                      <div class="state"><span class="state__text">Por calificar</span><span class="state__icon state__icon--alert"></span></div>{% endif %}
                      {% endfor %}
                      {% for evaluation in participant.companydetailevaluation_set.all %}
                      {% if evaluation.jury.username == user.get_username and evaluation.type == 'FINAL'%}
                      <div class="state"><span class="state__text">Calificado</span><span class="state__icon state__icon--success"></span></div>{% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>
                    <div class="row row--medium"><span class="name">{{ participant.initiative }}</span></div>
                    <div class="row row--bottom"><span class="company">{{ participant.name }}</span>
                      <!--|{# {% if participant.state == 'QUALIFIED' %}-->
                      <!--span.point {{ participant.score_final|floatformat:"-2" }} ptos.-->
                      <!--|{% endif %} #}-->{% for evaluation in participant.companydetailevaluation_set.all %}
                      {% if evaluation.jury.username == user.get_username and evaluation.type == 'FINAL' %}<span class="point">{{ evaluation.score|floatformat:"-2" }} ptos.</span>{% endif %}
                      {% endfor %}
                    </div></a>{% endfor %}</div>{% if is_paginated %}
                <div class="paginator" role="navigation" aria-label="Pagination">{% if page_obj.has_previous %}<a class="arrow arrow--prev" href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a>{% endif %}
                  <div class="number"><span class="number text">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></div>{% if page_obj.has_next %}<a class="arrow arrow--next" href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"></a>{% endif %}
                </div>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript"></script>
  </body>
</html>