{% load static %}<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- meta(http-equiv="Cache-control", content="public")-->
    <!-- meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")-->
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#d93649">
    <meta name="msapplication-TileColor" content="#d93649">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#d93649">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ TITLE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta property="og:locale" content="es_LA">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ TITLE }}">
    <meta name="twitter:description" content="{{ DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <link rel="canonical" href="{{ BASE_URL }}">
    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type":    "WebSite",
        "name":     "{{ SHARE_TITLE }}",
        "alternateName": "{{ ALTERNATE_TITLE }}",
        "url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5JX7QD9');
      
      
    </script>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ random }}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="loader" data-controller="formcase" data-mobile="{% if request.is_mobile %}true{% else %}false{% endif %}" data-url="{{ BASE_URL }}">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="loader">
      <div class="loader-inner">
        <div class="box">
          <div class="lds-circle">
            <div>
              <!-- ?xml version="1.0" encoding="utf-8"?-->
              <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)-->
              <svg id="Capa_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.63 316.67" style="enable-background:new 0 0 215.63 316.67;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                      fill: #D7D8D8;
                  }
                  .st1 {
                      fill: #FFFFFF;
                  }
                  
                  .st2 {
                      fill: #C10012;
                  }
                  
                  .st3 {
                      fill: #FFF;
                  }
                </style>
                <g>
                  <g>
                    <path class="st3" d="M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91                              C196.87,156.52,156.97,196.4,107.95,196.4z"></path>
                  </g>
                  <g>
                    <g>
                      <rect class="st2" x="55.6" y="119.28" width="104.7" height="18.91"></rect>
                    </g>
                    <g>
                      <polyline class="st2" points="119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="formcase">
      <header id="headerformcase">
        <div class="headerformcase-container">
          <div class="headerformcase-inner"><a href="{% url 'website:home' %}"><img class="logo" src="{% static 'images/logo_banner.png' %}" alt="logo"></a></div>
        </div>
      </header>
      <section class="section section-steps">
        <div class="section-container">
          <div class="section-inner">
            <div class="box">
              <div class="box__item">
                <div class="menu">
                  <div class="title">
                    <h2 class="text">Registro y envío de la iniciativa</h2>
                  </div>
                  <div class="list">
                    <div class="option option--active js_step_previous"><span class="circle"> </span>
                      <p class="text">Datos de empresa</p>
                    </div>
                    <div class="option js_step_next"><span class="circle"> </span>
                      <p class="text">Datos de la iniciativa</p>
                    </div>
                  </div>
                  <div class="help"><a class="link helpone" href="{{ page.frequent_questions_legal.url }}" target="_blank">Preguntas frecuentes</a><a class="link helptwo" href="{{ page.base_legal.url }}" target="_blank">Bases legales</a><a class="link helpthree" href="{{ page.questionary_legal.url }}" target="_blank">Cuestionario</a></div>
                </div>
              </div>
              <div class="box__item">
                <form class="form" id="form_case">{% csrf_token %}
                  <h3 class="option"><span class="circle">Datos de empresa</span></h3>
                  <section class="step">
                    <div class="step__row">
                      <label class="title">Empresa</label>
                      <input class="text" type="text" name="name" id="name" placeholder="Nombre de empresa" maxlength="120" minlength="2">
                      <input type="hidden" id="token">
                    </div>
                    <div class="step__row">
                      <label class="title">RUC</label>
                      <input class="text" type="tel" name="ruc" id="ruc" placeholder="Número de RUC" maxlength="11" minlength="11">
                    </div>
                    <div class="step__row">
                      <label class="title">Tipo de empresa</label>
                      <div class="artifice">
                        <select class="select js_companytype" name="companytype" id="companytype" required>{% for companytype in companytypes %}
                          <option value="{{ companytype.id }}">{{ companytype.name }}</option>{% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="step__row">
                      <label class="title">Representante de la empresa</label>
                      <input class="text" type="text" name="representative" id="representative" placeholder="Nombre de representante" maxlength="120" minlength="2">
                    </div>
                    <div class="step__row">
                      <label class="title">Correo electrónico corporativo</label>
                      <input class="text" type="text" name="email" id="email" placeholder="Correo electrónico corporativo" maxlength="120" minlength="6">
                    </div>
                    <div class="step__row">
                      <label class="title">Teléfono corporativo</label>
                      <input class="text" type="tel" name="phone" id="phone" placeholder="Número de contacto" maxlength="9" minlength="7">
                    </div>
                    <div class="step__row">
                      <div class="step__row step__row--inline step__row--nopadding_terms">
                        <input class="js_terms" type="checkbox" value="true" name="terms" id="terms">
                        <label class="title title--checkbox" for="terms">Acepto los  <a href="{{ page.tyc_legal.url }}" target="_blank"> términos y condiciones </a></label>
                      </div>
                    </div>
                  </section>
                  <h3 class="option"><span class="circle">Datos  del caso</span></h3>
                  <section class="step">
                    <div class="step__row step__row--nopadding">
                      <label class="title">Categoría de participación</label>
                    </div>{% for companycategory in companycategories %}
                    <div class="step__row step__row--inline step__row--smallpadding">
                      <input class="js_companycategory" type="checkbox" value="{{ companycategory.id }}" name="companycategories" id="chk{{ companycategory.id }}" data-companytype="{{ companycategory.companytype.id }}" data-companyquestions="{{ companycategory.companyquestions }}">
                      <label class="title title--checkbox" for="chk{{ companycategory.id }}">{{ companycategory.name }}</label>
                    </div>{% endfor %}
                    <input class="text text--hidden js_verifycheck" type="text" name="verifycheck" id="verifycheck">
                    <div class="step__row">
                      <label class="title title--margintop">URL con el video de la iniciativa (opcional)</label>
                      <div class="content_input">
                        <input class="text js_input_url" type="text" name="videourl" id="videourl" placeholder="URL del video youtube, vimeo o facebook">
                      </div><span class="button button--add js_add_input_url"> <span class="icon"></span>
                        <p class="text">Añadir otra URL de video</p></span>
                    </div>
                    <div class="step__row">
                      <label class="title">PDF con la información de la iniciativa</label>
                      <div class="content_input">
                        <input class="js_input_pdf" type="file" name="pdf" id="pdf" data-jcf="{&quot;buttonText&quot;: &quot;Seleccionar archivo&quot;, &quot;placeholderText&quot;: &quot;PDF no seleccionado (Máx. 5MB)&quot;}">
                      </div><span class="button button--add js_add_input_pdf">  <span class="icon"> </span>
                        <p class="text">Añadir otro archivo PDF</p></span>
                    </div>
                    <div class="step__row">
                      <label class="title">Imagen que evidencie la iniciativa</label>
                      <div class="content_input">
                        <input class="js_input_photo" type="file" name="photo" id="photo" data-jcf="{&quot;buttonText&quot;: &quot;Seleccionar imagen&quot;, &quot;placeholderText&quot;: &quot;Imagen no seleccionada (Máx. 5MB)&quot;}">
                      </div><span class="button button--add js_add_input_photo"> <span class="icon"></span>
                        <p class="text">Añadir otra foto</p></span>
                    </div>
                    <div class="step__row">
                      <label class="title">Nombre de iniciativa</label>
                      <input class="text" type="text" name="initiative" id="initiative" placeholder="Respuesta máx 250 carác." maxlength="250">
                    </div>{% for companyquestion in companyquestions %}
                    <div class="step__row step__row--hidden"> 
                      <label class="title">{{ companyquestion.name }}</label>
                      <textarea class="text js_companyquestion" placeholder="Respuesta máx 700 carác." rows="4" maxlength="700" data-companyquestion="{{ companyquestion.id }}"></textarea><span class="count">Restan <span class="number">700</span> carác.</span>
                    </div>{% endfor %}
                  </section>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfFxr8UAAAAAN9dM_wiyfzdYTlr5-yUn0BZPy3R"></script>
    <script>
      grecaptcha.ready(function() {
        grecaptcha.execute('6LfFxr8UAAAAAN9dM_wiyfzdYTlr5-yUn0BZPy3R', {action: 'formpage'}).then(function(token) {
          $('#token').val(token);
        });
      });
    </script>
  </body>
</html>