{% load static %}<!DOCTYPE html>
<html lang="es-PE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>{{ TITLE }}</title>
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    <meta name="author" content="{{ AUTHOR }}">
    <!-- meta(http-equiv="Cache-control", content="public")-->
    <!-- meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")-->
    <!-- Theme color (Only Chrome Mobile)-->
    <meta name="theme-color" content="#d93649">
    <meta name="msapplication-TileColor" content="#d93649">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#d93649">
    <!-- Facebook meta tags-->
    <meta property="og:title" content="{{ TITLE }}">
    <meta property="og:description" content="{{ DESCRIPTION }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ BASE_URL }}">
    <meta property="og:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta property="og:locale" content="es_LA">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Twitter meta tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ TITLE }}">
    <meta name="twitter:description" content="{{ DESCRIPTION }}">
    <meta name="twitter:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="630">
    <link rel="canonical" href="{{ BASE_URL }}">
    <script type="application/ld+json">
      {
        "@context": "http://www.schema.org",
        "@type":    "WebSite",
        "name":     "{{ SHARE_TITLE }}",
        "alternateName": "{{ ALTERNATE_TITLE }}",
        "url":      "{{ BASE_URL }}"
      }
      
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5JX7QD9');
      
      
    </script>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ random }}"><!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="loader" data-controller="home" data-mobile="{% if request.is_mobile %}true{% else %}false{% endif %}" data-url="{{ BASE_URL }}">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div id="loader">
      <div class="loader-inner">
        <div class="box">
          <div class="lds-circle">
            <div>
              <!-- ?xml version="1.0" encoding="utf-8"?-->
              <!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)-->
              <svg id="Capa_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 215.63 316.67" style="enable-background:new 0 0 215.63 316.67;" xml:space="preserve">
                <style type="text/css">
                  .st0 {
                      fill: #D7D8D8;
                  }
                  
                  .st1 {
                      fill: #FFFFFF;
                  }
                  
                  .st2 {
                      fill: #C10012;
                  }
                  
                  .st3 {
                      fill: #FFF;
                  }
                </style>
                <g>
                  <g>
                    <path class="st3" d="M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91                              C196.87,156.52,156.97,196.4,107.95,196.4z"></path>
                  </g>
                  <g>
                    <g>
                      <rect class="st2" x="55.6" y="119.28" width="104.7" height="18.91"></rect>
                    </g>
                    <g>
                      <polyline class="st2" points="119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			"></polyline>
                    </g>
                  </g>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="home">
      <section class="section section-banner">
        <div class="section-container">
          <div class="section-inner">
            <header class="js_header" id="header">
              <input id="goMenu" type="checkbox">
              <div class="header-container">
                <div class="header-inner">
                  <div class="hamburger">
                    <label class="js_hamburger" for="goMenu"><span></span><span></span><span></span></label>
                  </div>
                  <div class="option"><a class="js_option_header" data-section="sobreelpremio">Sobre El Premio</a><a class="js_option_header" data-section="categoria">Categorías                </a><a class="js_option_header" data-section="etapas">Etapas</a><a class="js_option_header" data-section="evaluadores">Evaluadores</a><a href="{{ page.base_legal.url }}" target="_blank">Bases del concurso</a><span class="js_option_contact">Contáctanos
                      <div class="contact js_contact">
                        <div class="contact__row contact__row--borderbottom">
                          <p class="text text--bold">Teléfono</p><a class="text" href="tel:{{ page.phone_legal }}">{{ page.phone_legal }}</a>
                          <p class="text">Anexo {{ page.annexed_legal }}</p>
                        </div>
                        <div class="contact__row">
                          <p class="text text--bold">Correo</p><a class="text" href="mailto:{{ page.email_legal }}">{{ page.email_legal }}</a>
                        </div>
                      </div></span></div>
                  <div class="btnregister"><a href="{% url 'website:form' %}">Inscribir a tu empresa</a></div><img class="logo_mobile" src="{% static 'images/logo_banner.png' %}" alt="logo">
                </div>
              </div>
            </header>
            <div class="menu_mobile js_menu_mobile"><img class="logo" src="{% static 'images/logo_banner.png' %}" alt="logo"><a class="js_option_header_mobile" data-section="sobreelpremio">Sobre El Premio</a><a class="js_option_header_mobile" data-section="categoria">Categorías                </a><a class="js_option_header_mobile" data-section="etapas">Etapas</a><a class="js_option_header_mobile" data-section="evaluadores">Evaluadores</a><a href="{{ page.base_legal.url }}" target="_blank">Bases del concurso</a><a class="js_option_header_mobile" data-section="contactanos">Contáctanos</a><a class="button" href="{% url 'website:form' %}" target="_blank">Inscribir a tu empresa</a></div>
            <div class="menu_opacity js_menu_opacity"></div>
            <div class="logo"><img class="icon" src="{% static 'images/logo_banner.png' %}" alt="logo"><img class="award" src="{% static 'images/award_banner.png' %}" alt="logo"></div>
            <div class="sponsor"><img class="icon" src="{% static 'images/sponsor_banner.png' %}" alt="sponsor"></div>
            <div class="info">
              <p class="text">Llegó el momento de eliminar las diferencias salariales entre hombres y mujeres</p>
            </div>
            <div class="register"><a class="button" href="{% url 'website:form' %}">Inscribir a tu empresa</a></div>
            <div class="terms"><a class="button" href="{{ page.base_legal.url }}" target="_blank">Bases del concurso</a></div>
            <div class="bottom">
              <div class="box"><img class="icon" src="{% static 'images/sponsor_banner.png' %}" alt="sponsor"></div>
              <div class="box">
                <div class="circle js_option_header" data-section="sobreelpremio">
                  <div class="arrow"></div>
                </div>
                <div class="circle circle--mobile js_arrow_header_mobile" data-section="sobreelpremio">
                  <div class="arrow"></div>
                </div>
              </div>
              <div class="box"></div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-statistic" id="sobreelpremio">
        <div class="section-container">
          <div class="section-inner">
            <h2 class="title">{{ page.title_features }}</h2>
            <p class="subtitle">{{ page.description_features }}</p>
            <p class="subtitle">Sus objetivos principales son:</p>
            <div class="properties js_slick_statistic">{% for item in page.features_set.all %}
              <div class="box">
                <div class="properties__item"><img class="icon" src="{{ item.image.url }}" alt="impactar">
                  <p class="title">{{ item.title }}</p>
                  <p class="description">{{ item.description }}</p>
                </div>
              </div>{% endfor %}
              {% comment %}
              <div class="box">
                <div class="properties__item"><img class="icon" src="{% static 'images/icon_impact.png' %}" alt="impactar">
                  <p class="title">IMPACTAR</p>
                  <p class="description">
                    en la sociedad a través de la promoción de prácticas organizacionales que contribuyan 
                    a reducir las brechas salariales y de género.
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="properties__item"><img class="icon" src="{% static 'images/icon_spread.png' %}" alt="difundir">
                  <p class="title">DIFUNDIR</p>
                  <p class="description">
                    las mejores prácticas orientadas a reducir la brecha salarial y de género con la finalidad de 
                    que otras organizaciones puedan incorporarlas.
                  </p>
                </div>
              </div>
              <div class="box">
                <div class="properties__item"><img class="icon" src="{% static 'images/icon_recognize.png' %}" alt="reconocer">
                  <p class="title">RECONOCER</p>
                  <p class="description">a las organizaciones que vienen haciendo esfuerzos continuos por reducir dicha brecha salarial.</p>
                </div>
              </div>
              <div class="box">
                <div class="properties__item"><img class="icon" src="{% static 'images/icon_visible.png' %}" alt="visibilizar">
                  <p class="title">VISIBILIZAR</p>
                  <p class="description">la importancia de la toma de acción para el cierre de brechas salariales y de género en el Perú.</p>
                </div>
              </div>{% endcomment %}
            </div>
          </div>
        </div>
      </section>
      <section class="section section-awards" id="categoria">
        <div class="section-container">
          <div class="section-inner">
            <h2 class="title">{{ page.title_awards }}</h2>
            <p class="subtitle">{{ page.description_awards }}</p>
            <div class="awards">
              <div class="awards__galery">
                <div class="carousel js_slick_galery">{% for item in page.awardsgallery_set.all %}
                  <div class="carousel__item"><img class="icon" src="{{ item.image.url }}" alt="awards"></div>{% endfor %}
                  {% comment %}
                  <div class="carousel__item"><img class="icon" src="{% static 'images/icon_awards_1.png' %}" alt="awards"></div>
                  <div class="carousel__item"><img class="icon" src="{% static 'images/artista_Luisi_Llosa.jpg' %}" alt="awards"></div>{% endcomment %}
                </div>
              </div>
              <div class="awards__info">{% for item in page.awardscategory_set.all %}
                <div class="info js_open_modal" data-title="{{ item.title }}" data-message="{{ item.description }}">
                  <p class="text">{{ item.title }}</p><span class="arrows"></span>
                </div>{% endfor %}
                {% comment %}
                <div class="info js_open_modal" data-title="Excelencia Igualitaria Grandes Empresas" data-message="Premio a la iniciativa más innovadora para abordar la brecha salarial en empresas u organizaciones."> 
                  <p class="text">Excelencia Igualitaria Grandes Empresas</p><span class="arrows"></span>
                </div>
                <div class="info js_open_modal" data-title="Excelencia Igualitaria PYMES" data-message="Premio a la iniciativa más innovadora para abordar la brecha salarial en pequeñas y medianas empresas."> 
                  <p class="text">Excelencia Igualitaria PYMES</p><span class="arrows"></span>
                </div>
                <div class="info js_open_modal" data-title="Excelencia Igualitaria Emprendimiento" data-message="Premio al emprendimiento con mayor potencial en la reducción de la brecha salarial en empresas u organizaciones."> 
                  <p class="text">Excelencia Igualitaria Emprendimiento</p><span class="arrows"></span>
                </div>
                <div class="info js_open_modal" data-title="Caso de Éxito Comunicación Interna Grandes Empresas" data-message="Reconoce la estrategia de comunicación más efectiva dentro de empresas u organizaciones que promuevan la igualdad salarial."> 
                  <p class="text">Caso de Éxito Comunicación Interna Grandes Empresas</p><span class="arrows"></span>
                </div>
                <div class="info js_open_modal" data-title="Caso de Éxito Comunicación Interna PYMES" data-message="Reconoce la estrategia de comunicación más efectiva dentro de pequeñas y medianas empresas que promuevan la igualdad salarial.">  
                  <p class="text">Caso de Éxito Comunicación Interna PYMES</p><span class="arrows"></span>
                </div>
                <div class="info js_open_modal" data-title="Gran Premio Igualitario" data-message="Reconoce a la empresa u organización que evidenció la iniciativa con mayor impacto en la reducción de brecha salarial."> 
                  <p class="text">Gran Premio Igualitario</p><span class="arrows"></span>
                </div>{% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-calendar" id="etapas">
        <div class="section-container">
          <div class="section-inner">
            <h2 class="title">{{ page.title_phases }}</h2>
            <div class="calendar">{% for item in page.phases_set.all %}
              <div class="calendar__item">
                <div class="bg"><img class="icon" src="{{ item.image.url }}" alt="noticia"></div>
                <div class="title">
                  <p class="top">{{ item.title }}</p>
                  <p class="bottom">{{ item.date }}</p>
                </div>
                <div class="description">
                  <p class="top">{{ item.sub_title }}</p>
                  <p class="bottom">{{ item.description }}</p>
                </div>
              </div>{% endfor %}
              {% comment %}
              <div class="calendar__item">
                <div class="bg"><img class="icon" src="{% static 'images/icon_calendar_1.jpg' %}" alt="noticia"></div>
                <div class="title">
                  <p class="top">1RA ETAPA</p>
                  <p class="bottom">Del 28.10.2019 al 23.12.2019</p>
                </div>
                <div class="description">
                  <p class="top">Postulación</p>
                  <p class="bottom">Las empresas participantes se inscriben enviando su caso a través del formulario web: <a href="{% url 'website:form' %}">Inscribir a tu empresa aquí</a>.</p>
                </div>
              </div>
              <div class="calendar__item">
                <div class="bg"><img class="icon" src="{% static 'images/icon_calendar_2.jpg' %}" alt="noticia"></div>
                <div class="title">
                  <p class="top">2DA ETAPA</p>
                  <p class="bottom">24.12.2019 al 13.02.2020</p>
                </div>
                <div class="description">
                  <p class="top">Evaluación</p>
                  <p class="bottom">Se elegirá los casos de las empresas  que participaron del concurso. Se les enviará un correo electrónico con la confirmación y detalle del evento.</p>
                </div>
              </div>
              <div class="calendar__item">
                <div class="bg"><img class="icon" src="{% static 'images/icon_calendar_3.jpg' %}" alt="noticia"></div>
                <div class="title">
                  <p class="top">3RA ETAPA</p>
                  <p class="bottom">05.03.2020</p>
                </div>
                <div class="description">
                  <p class="top">Premiación</p>
                  <p class="bottom">Se premiará a las empresas ganadoras en una gran ceremonia, la cual también se transmitirá en vivo.</p>
                </div>
              </div>{% endcomment %}
            </div>
          </div>
        </div>
      </section>
      <section class="section section-evaluator" id="evaluadores">
        <div class="section-container">
          <div class="section-inner">
            <h2 class="title">{{ page.title_evaluator }}</h2>
            <p class="subtitle">{{ page.description_evaluator }}</p>
            <div class="tabs_options tabs_options--onlycomite">
              <div class="selector selector--onlycomite"></div>
              <ul class="ul--onlycomite">
                <li><a class="option option--active js_option_tab" data-tab="js_tab_one" data-carousel="js_slick_committee">Comité</a></li>
                <li class="li--onlycomite"><a class="option js_option_tab" data-tab="js_tab_two" data-carousel="js_slick_evaluator">Jurado</a></li>
              </ul>
            </div>
            <div class="tabs_container">
              <div class="tab js_tab_one tab--active">
                <div class="committee js_slick_committee">{% for item in page.evaluator_set.all %}
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{{ item.image.url }}" alt="noticia"></div>
                      <p class="title">{{ item.name }}</p>
                    </div>
                  </div>{% endfor %}
                  {% comment %}
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{% static 'images/icon_committee_1.jpg' %}" alt="noticia"></div>
                      <p class="title">Andrea de la Piedra </p>
                    </div>
                  </div>
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{% static 'images/icon_committee_2.jpg' %}" alt="noticia"></div>
                      <p class="title">Augusto Townsend </p>
                    </div>
                  </div>
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{% static 'images/icon_committee_3.jpg' %}" alt="noticia"></div>
                      <p class="title">Beatrice Avolio </p>
                    </div>
                  </div>
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{% static 'images/icon_committee_4.jpg' %}" alt="noticia"></div>
                      <p class="title">Gianfranco Castagnola </p>
                    </div>
                  </div>
                  <div class="box">
                    <div class="committee__item">
                      <div class="bg"><img class="icon" src="{% static 'images/icon_committee_5.jpg' %}" alt="noticia"></div>
                      <p class="title">Susana Llosa</p>
                    </div>
                  </div>{% endcomment %}
                </div>
              </div>
              <div class="tab js_tab_two">
                <div class="evaluator js_slick_evaluator">
                  <div class="box box--left">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box--right">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box--left">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box--right">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box--left">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box box--right">
                    <div class="evaluator__item">
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                      <div class="item__box">
                        <div class="circle"><img class="icon_woman" src="{% static 'images/icon_woman.png' %}"></div>
                        <div class="information">
                          <p class="title">Jurado 01</p>
                          <p class="description">Cargo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-sponsor" id="bases">
        <div class="section-container">
          <div class="section-inner">
            <div class="sponsor">
              <div class="sponsor__item">
                <p class="title">Organizador</p>
                <div class="bg"><img class="icon" src="{% static 'images/icon_sponsor_1.png' %}" alt="organizador"></div>
              </div>
              <div class="sponsor__item">
                <p class="title">Aliados</p>
                <div class="bg"><img class="icon" src="{% static 'images/icon_sponsor_2.png' %}" alt="aliados"></div>
              </div>
              <div class="sponsor__item">
                <p class="title">Agencia creativa</p>
                <div class="bg"><img class="icon" src="{% static 'images/icon_sponsor_3.png' %}" alt="creatividad"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-news">
        <div class="section-container">
          <div class="section-inner">
            <h2 class="title">{{ page.title_news }}</h2>
            <p class="subtitle">{{ page.description_news }}</p>
            <div class="news js_slick_news">{% for item in page.news_set.all %}
              <div class="box"><a class="news__item" href="{{ item.url }}" target="_blank">
                  <div class="bg"><img class="icon" src="{{ item.image.url }}" alt="noticia"></div>
                  <p class="title">{{ item.title }}</p>
                  <p class="description">{{ item.description }}</p></a></div>{% endfor %}
              {% comment %}
              <div class="box"><a class="news__item" href="http://cms.imedia.pe/2019/03/09/scotiabank-presenta-el-premio-igualitario/17472954/7157" target="_blank">
                  <div class="bg"><img class="icon" src="{% static 'images/icon_news_1.jpg' %}" alt="noticia"></div>
                  <p class="title">Scotiabank presenta el Premio Igualitario</p>
                  <p class="description">Junto con Aequales y El Comercio, iniciativa busca acortar la brecha salarial y generar conciencia empresarial.</p></a></div>
              <div class="box"><a class="news__item" href="https://peru21.pe/peru/dia-mujer-presenta-premio-igualitario-empresas-comprometan-igualdad-oportunidades-464541-noticia/?ref=p21r" target="_blank">
                  <div class="bg"><img class="icon" src="{% static 'images/icon_news_2.jpg' %}" alt="noticia"></div>
                  <p class="title">Día Internacional de la Mujer: Scotiabank y El Comercio presentan el Premio Igualitario</p>
                  <p class="description">La brecha salarial sigue siendo una de las demostraciones más evidentes de desigualdad entre mujeres y hombres.</p></a></div>
              <div class="box"><a class="news__item" href="https://www.mercadonegro.pe/marketing/premio-igualitario-presento-comite-consultivo-de-referentes-en-inclusion-y-diversidad/" target="_blank">
                  <div class="bg"><img class="icon" src="{% static 'images/icon_news_3.jpg' %}" alt="noticia"></div>
                  <p class="title">Premio igualitario presentó Comité Consultivo de referentes en inclusión y diversidad</p>
                  <p class="description">El Comité Consultivo estará integrado por Andrea de la Piedra, Augusto Townsend, Beatrice Avolio, Gianfranco ...</p></a></div>
              <div class="box"><a class="news__item" href="https://www.youtube.com/watch?v=sAVYUsvX4r0" target="_blank">
                  <div class="bg"><img class="icon" src="{% static 'images/icon_news_4.jpg' %}" alt="noticia"></div>
                  <p class="title">Video campaña Premio Igualitario Scotiabank</p>
                  <p class="description">Campaña lanzada el 08 de marzo para reforzar el compromiso con la igualdad y la disminución de la brecha salarial.</p></a></div>{% endcomment %}
            </div>
          </div>
        </div>
      </section>
      <footer id="contactanos">
        <div class="footer-container">
          <div class="footer-inner">
            <div class="box box--logo"><img class="logo" src="{% static 'images/logo_footer.png' %}" alt="logo">
              <div class="box__item"><a class="register" href="{% url 'website:form' %}">Inscribir a tu empresa</a></div>
            </div>
            <div class="box box--info">
              <div class="box__item"><a class="link" href="{{ page.base_legal.url }}" target="_blank">Descarga las bases del concurso</a>
                <p class="info info--bold">Si tienes  alguna duda.</p>
                <p class="info">Escríbenos</p>
                <p class="info info--marginbottom">{{ page.email_legal }}</p>
                <p class="info">Llámanos</p>
                <p class="info">{{ page.phone_legal }} Anexo {{ page.annexed_legal }}</p>
              </div>
            </div>
            <div class="box box--link"><a class="box__item" href="{{ page.brochure_legal.url }}" target="_blank">
                <div class="bg"><img class="icon" src="{% static 'images/icon_book.png' %}" alt="book"></div>
                <p class="icon_title">Brochure</p></a><a class="box__item" href="{{ page.url_video_legal }}" target="_blank">
                <div class="bg"><img class="icon" src="{% static 'images/icon_youtube.png' %}" alt="book"></div>
                <p class="icon_title">Video de la campaña </p></a><a class="box__item" href="{{ page.frequent_questions_legal.url }}" target="_blank">
                <div class="bg"><img class="icon" src="{% static 'images/icon_question.png' %}" alt="book"></div>
                <p class="icon_title">Preguntas frecuentes            </p></a></div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type="text/javascript"></script>
    <script src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript"></script>
  </body>
</html>