{% load static %}
<html>
    <head>
        <title>Premio Igualitario</title>
    </head>
    <body bgcolor="#ffffff">
        <table width="100%" align="center" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="top">
                    <table width="600" align="center" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #000000; text-align: left; font-weight: bold; padding-top: 35px; padding-left: 50px; padding-right: 50px; padding-bottom: 35px;">
                                Gracias a tu participaci&oacute;n construimos un Per&uacute; con m&aacute;s igualdad, sin barreras y con un mejor futuro.
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <img src="{{ BASE_URL }}{% static 'images/mailing_banner.jpg' %}" width="100%" alt="Premio Igualitario Scotiabank" border="0" style="vertical-align: top;">
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="text-align: center; padding-top: 50px; padding-bottom: 50px; padding-left: 38px; padding-right: 38px;">
                                <a href="mailto:contacto@premioigualitario.com" target="_blank" style="outline: none;"><img src="{{ BASE_URL }}{% static 'images/mailing_box.jpg' %}" width="502" border="0" style="vertical-align: top;"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>