{% load static %}
<html>
    <head>
        <title>Premio Igualitario</title>
    </head>
    <body bgcolor="#ffffff">
       <p>Estimado {{ name }}</p>
       <p>La contraseña para tu cuenta en el Dashboard Premio Igualitario, se ha cambiado recientemente.</p>
       <p>Tu nueva contraseña es: {{ password }} </p>
    </body>
</html>