{% load static %}
<html>
<head>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            width: 100%; top: 0pt; height: 400pt;
        }
        @frame content_frame {          /* Content Frame */
            width: 100%; top: 130pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 100%; top: 772pt; height: 20pt;
        }
        @font-face {
            font-family: Scotia;
            {#src: url("{{ context.BASE_URL }}{% static 'css/fonts/Scotia.ttf' %}");#}
        }
    }

    img { zoom: 100%}

    html,body {
        font-family: Scotia,'Helvetica Neue';
        color: #333333;
        background: #EEEDED;
        padding: 0;
        margin: 0;
    }

    img { zoom: 100%; }

    .title p {
        font-size: 35px;
        text-align: center;
        color: #0e0e0e;
        margin: 0;
        font-weight: bold;
        line-height: 0;
        padding-bottom: 15px;
    }

    .box {
        width: 100%;
    }

    .box_header {
        background-color: #7354b9;
        padding: 8px 30px;
    }

    .box_header p {
        font-size: 23px;
        line-height: 0;
        color: #FFF;
        font-weight: bold;
    }

    .box_body {
        padding: 8px 30px;
    }

    .box_body p.info {
        margin: 0;
        line-height: normal;
        font-size: 23px;
        padding: 0 30px;
        margin-bottom: 7px;
        font-weight: bold;
        color: #686B6F;
    }

    .box_body p.question {
        margin: 0;
        margin-bottom: 6px ;
        line-height: 0;
        font-size: 23px;
    }

    .box_body p.response{
        margin: 0;
        font-size: 23px;
        line-height: 0;
        margin-bottom: 10px;
        color: #686B6F;
    }

    .box_body p.response strong{
        color: #7354b9;
    }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content" style="width: 100%">
        <img style="width: 100%" src="{% static 'images/header_pdf.jpg' %}" alt="sss"/>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
{#    <div id="footer_content">(c) - page <pdf:pagenumber>#}
{#        of <pdf:pagecount>#}
{#    </div>#}

    <!-- HTML Content -->
    <div id="body_content">
        <div class="title">
            <p>REGISTRO DE INICIATIVA</p>
        </div>
        <div class="box">
            <div class="box_header">
                <p>Datos de la empresa</p>
            </div>
            <div class="box_body">
                <p class="info">
                    <strong style="color: #0e0e0e">Empresa:</strong> {{ company.name }}
                </p>
                <p class="info">
                    <strong>RUC:</strong> {{ company.ruc }}
                </p>
                <p class="info">
                    <strong>Tipo de Empresa:</strong> {{ company.companytype }}
                </p>
                <p class="info">
                    <strong>Representante:</strong> {{ company.representative }}
                </p>
                <p class="info">
                    <strong>Correo Electronico:</strong> {{ company.email }}
                </p>
                <p class="info">
                    <strong>Teléfono:</strong> {{ company.phone }}
                </p>
            </div>
        </div>
        <div class="box">
            <div class="box_header">
                <p>Datos del caso</p>
            </div>
            <div class="box_body">
                <p class="info">
                    <strong>Categoría:</strong> {{ company.companycategories }}
                </p>
                <p class="info">
                    <strong>URL con el video del caso:</strong> {{ company.videourl }}
                </p>
                <p class="info">
                    <strong>URL con el video del caso:</strong>
                </p>
                <p class="info">
                    <strong>PDF con información del caso:</strong>
                </p>
                <p class="info">
                    <strong>PDF con información del caso:</strong>
                </p>
                <p class="info">
                    <strong>Evidencia en foto de la iniviativa:</strong>
                </p>
                <p class="info">
                    <strong>Nombre de la iniviativa:</strong>
                </p>
            </div>
        </div>
        <div class="box">
            <div class="box_header">
                <p>Preguntas de la categoría</p>
            </div>
            <div class="box_body">
{#                {% for item in questions %}#}
                <p class="question">
                    <span style="color: #7354b9; font-size: 25px; line-height: 0">■</span> <strong>sjfh kjhskdj fhkjdsf sdh jfhsk f</strong>
                </p>
                <p class="response">
                    <strong class="purple" style="color: #7354b9">Rpta: </strong> holi shit
                </p>
{#                {% endfor %}#}
            </div>
        </div>
    </div>
</body>
</html>