extends ./extends/base_form

block controller
    -var controller = 'resetpassword'

block top

block content
    #loader
        .loader-inner
            .box
                .lds-circle
                    div
                        // ?xml version="1.0" encoding="utf-8"?
                        // Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
                        svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 215.63 316.67', style='enable-background:new 0 0 215.63 316.67;', xml:space='preserve')
                            style(type='text/css').
                                .st0 {
                                    fill: #D7D8D8;
                                }
                                .st1 {
                                    fill: #FFFFFF;
                                }

                                .st2 {
                                    fill: #C10012;
                                }

                                .st3 {
                                    fill: #FFF;
                                }
                            g
                                g
                                    path.st3(d='M124.39,214.04c51.67-7.94,91.36-52.69,91.36-106.55c0-59.45-48.36-107.81-107.8-107.81\
                              C48.51-0.32,0.14,48.04,0.14,107.49c0,55.58,42.29,101.47,96.38,107.2c0.52,0.06,2.22,0.11,2.75,0.15v32.18H66.88v18.8h32.38\
                              v50.76h22.3v-50.75h32.9v-18.81h-32.9v-32.67C121.94,214.3,124.01,214.1,124.39,214.04z M107.95,196.4\
                              c-49.03,0-88.92-39.89-88.92-88.91c0-49.03,39.89-88.91,88.92-88.91c49.03,0,88.92,39.89,88.92,88.91\
                              C196.87,156.52,156.97,196.4,107.95,196.4z')
                                g
                                    g
                                        rect.st2(x='55.6', y='119.28', width='104.7', height='18.91')
                                    g
                                        polyline.st2(points='119.3,80.8 160.3,80.8 160.3,99.71 55.6,99.71 55.6,80.8 119.3,80.8 			')

    #resetpassword
        section.section.section-index
            include modules/resetpassword-index

block bottom
