extends ./extends/base

block controller
    -var controller = 'thanks'

block top

block content
    #thanks
        section.section.section-message
            include modules/thanks-message
        
block bottom