|{% load static %}

doctype html
html(lang="es-PE")
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title= "{{ TITLE }}"
        meta(name='description', content="{{ DESCRIPTION }}")
        meta(name='keywords', content="{{ KEYWORDS }}")
        meta(name='author', content="{{ AUTHOR }}")

        // meta(http-equiv="Cache-control", content="public")
        // meta(http-equiv="Expires", content="Tue, 31 Dec 2030 23:59:59 GMT")

        // Theme color (Only Chrome Mobile)
        meta(name="theme-color", content="#d93649")
        meta(name="msapplication-TileColor", content="#d93649")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="#d93649")

        // Facebook meta tags
        meta(property='og:title', content="{{ TITLE }}")
        meta(property='og:description', content="{{ DESCRIPTION }}")
        meta(property='og:type', content="website")
        meta(property='og:url', content="{{ BASE_URL }}")
        meta(property='og:image', content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}")
        meta(property='og:locale' content="es_LA")
        meta(property='og:image:width', content="1200")
        meta(property='og:image:height', content="630")
        // Twitter meta tags
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:title" content="{{ TITLE }}")
        meta(name="twitter:description" content="{{ DESCRIPTION }}")
        meta(name="twitter:image" content="{{ BASE_URL }}{% static 'images/bg_facebook_share.jpg' %}")
        meta(name="twitter:image:width" content="1200")
        meta(name="twitter:image:height" content="630")

        link(rel="canonical", href="{{ BASE_URL }}")

        script(type="application/ld+json").
            {
              "@context": "http://www.schema.org",
              "@type":    "WebSite",
              "name":     "{{ SHARE_TITLE }}",
              "alternateName": "{{ ALTERNATE_TITLE }}",
              "url":      "{{ BASE_URL }}"
            }

        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5JX7QD9');


        //Favicon
        link(rel="shortcut icon" type="image/png" href="{{ BASE_URL }}{% static 'images/favicon.png' %}")
        link(rel='stylesheet', href="{% static 'css/style.min.css' %}?v={{ random }}")


        |<!--[if lte IE 9]>
        |<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        |<![endif]-->

        block top

    block controller
        -var controller = ''
    body.loader(data-controller!= controller data-mobile='{% if request.is_mobile %}true{% else %}false{% endif %}' data-url='{{ BASE_URL }}')
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5JX7QD9', height='0', width='0', style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)
        block content

        block bottom

        //- jQuery Librerias
        script(src="{% static 'js/vendor/vendor_all.js' %}?v={{ random }}" type='text/javascript')
        //- Compilado de application.js
        script(src="{% static 'js/bundle.js' %}?v={{ random }}" type="text/javascript")