{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% if request.session.eval_preliminary or eval_preliminary %}
<div class="tabular inline-related inline-group">
    <fieldset class="module">
        <h2>CALIFICACIÓN - JURADO PRELIMINAR</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Comentario</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.eval_preliminary %}
                    {% for item in request.session.eval_preliminary %}
                        <tr>
                        <td>{{ item.jury.first_name }} {{ imp.jury.last_name }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.score }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for item in eval_preliminary %}
                        <tr>
                        <td>{{ item.jury.first_name }} {{ item.jury.last_name }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.score }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
            <tr>
              <th class="total" colspan="2">Total :</th>
              <th>{{ eval_preliminary_score.score__sum }}</th>
            </tr>
           </tfoot>
        </table>
    </fieldset>
</div>
{% endif %}

{% if request.session.eval_final or eval_final %}
<div class="tabular inline-related inline-group">
    <fieldset class="module">
        <h2>CALIFICACIÓN - JURADO FINAL</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Comentario</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                {% if request.session.eval_final %}
                    {% for item in request.session.eval_final %}
                        <tr>
                        <td>{{ item.jury.first_name }} {{ imp.jury.last_name }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.score }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for item in eval_final %}
                        <tr>
                        <td>{{ item.jury.first_name }} {{ item.jury.last_name }}</td>
                        <td>{{ item.comment }}</td>
                        <td>{{ item.score }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
            <tr>
              <th class="total" colspan="2">Total :</th>
              <th>{{ eval_final_score.score__sum }}</th>
            </tr>
           </tfoot>
        </table>
    </fieldset>
</div>
{% endif %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}
    {% if company.first.state == state_postulant and company.first.data_state == data_state_complete %}
    <div class="submit-row">
        <div class="eval-options">
            <a href="{% url 'admin:company_evaluation' original.pk state_suitable %}" class="button">Aprobar</a>
            <a href="{% url 'admin:company_evaluation' original.pk state_rejected %}" class="button button--reject">Rechazar</a>
        </div>
    </div>
    {% endif %}
    {% if company.first.state == state_qualified_finalist and not no_winner%}
    <div class="submit-row">
        <div class="eval-options">
            <a href="{% url 'admin:company_evaluation' original.pk state_winner %}" class="button button--reject">GANADOR</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}