header#headerdashboard
    .headerdashboard-container
        .headerdashboard-inner
            .hamburger.hamburger--ghost
                label
                    span
                    span
                    span
            a(href="{% url 'website:home' %}")
                img.logo(src="{% static 'images/logo_banner.png' %}", alt="logo")
            .hamburger.js_hamburger
                label
                    span
                    span
                    span
                .menu.js_menu
                    p.user {{ user.get_full_name }}
                    a.logout(href="{% url 'website:logout' %}") Cerrar Sesión