.section-container
    .section-inner
        .box
            .box__item
                .menu
                    .title
                        h2.text Registro y envío de la iniciativa
                    .list
                        .option.option--active.js_step_previous
                            span.circle 
                            p.text Datos de empresa
                        .option.js_step_next
                            span.circle 
                            p.text Datos de la iniciativa
                    .help
                        a.link.helpone(href="{{ page.frequent_questions_legal.url }}", target="_blank") Preguntas frecuentes
                        a.link.helptwo(href="{{ page.base_legal.url }}", target="_blank") Bases legales
                        a.link.helpthree(href="{{ page.questionary_legal.url }}", target="_blank") Cuestionario
            .box__item
                form.form#form_case
                    |{% csrf_token %}
                    h3.option
                        span.circle Datos de empresa
                    section.step
                        .step__row
                            label.title Empresa
                            input.text(type="text",name="name", id="name", placeholder="Nombre de empresa",  maxlength='120', minlength="2")
                            input(type='hidden', id="token")
                        .step__row
                            label.title RUC
                            input.text(type="tel",name="ruc", id="ruc", placeholder="Número de RUC", maxlength='11', minlength="11")
                        .step__row
                            label.title Tipo de empresa
                            .artifice
                                select.select(name="companytype", id="companytype", required, class="js_companytype")
                                    |{% for companytype in companytypes %}
                                    option(value="{{ companytype.id }}") {{ companytype.name }}
                                    |{% endfor %}
                        .step__row
                            label.title Representante de la empresa
                            input.text(type="text", name="representative", id="representative", placeholder="Nombre de representante", maxlength='120', minlength="2")
                        .step__row
                            label.title Correo electrónico corporativo
                            input.text(type="text", name="email", id="email", placeholder="Correo electrónico corporativo", maxlength='120', minlength="6")
                        .step__row
                            label.title Teléfono corporativo
                            input.text(type="tel", name="phone", id="phone", placeholder="Número de contacto", maxlength='9', minlength="7")
                        .step__row
                            .step__row.step__row--inline.step__row--nopadding_terms
                                input.js_terms(type="checkbox", value="true", name="terms", id="terms")  
                                label.title.title--checkbox(for="terms") Acepto los  #[a(href="{{ page.tyc_legal.url }}", target="_blank")  términos y condiciones ]
                    h3.option
                        span.circle Datos  del caso
                    section.step
                        .step__row.step__row--nopadding
                            label.title Categoría de participación
                        |{% for companycategory in companycategories %}
                        .step__row.step__row--inline.step__row--smallpadding
                            input(type="checkbox", class="js_companycategory",value="{{ companycategory.id }}", name="companycategories", id="chk{{ companycategory.id }}", data-companytype="{{ companycategory.companytype.id }}", data-companyquestions="{{ companycategory.companyquestions }}")                            
                            label.title.title--checkbox(for="chk{{ companycategory.id }}") {{ companycategory.name }}
                        |{% endfor %}
                        input.text.text--hidden.js_verifycheck(type="text", name="verifycheck", id="verifycheck")
                        .step__row
                            label.title.title--margintop URL con el video de la iniciativa (opcional)
                            .content_input
                                input.text.js_input_url(type="text", name="videourl", id="videourl", placeholder="URL del video youtube, vimeo o facebook")
                            span.button.button--add.js_add_input_url 
                                span.icon
                                p.text Añadir otra URL de video
                        .step__row
                            label.title PDF con la información de la iniciativa
                            .content_input
                                input.js_input_pdf(type='file', name="pdf", id="pdf", data-jcf='{"buttonText": "Seleccionar archivo", "placeholderText": "PDF no seleccionado (Máx. 5MB)"}')
                            span.button.button--add.js_add_input_pdf   
                                span.icon 
                                p.text Añadir otro archivo PDF
                        .step__row
                            label.title Imagen que evidencie la iniciativa
                            .content_input
                                input.js_input_photo(type='file', name="photo", id="photo", data-jcf='{"buttonText": "Seleccionar imagen", "placeholderText": "Imagen no seleccionada (Máx. 5MB)"}' )
                            span.button.button--add.js_add_input_photo  
                                span.icon
                                p.text Añadir otra foto
                        .step__row
                            label.title Nombre de iniciativa
                            input.text(type="text", name="initiative", id="initiative", placeholder="Respuesta máx 250 carác.", maxlength="250")
                        |{% for companyquestion in companyquestions %}
                        .step__row.step__row--hidden 
                            label.title {{ companyquestion.name }}
                            textarea.text.js_companyquestion(placeholder="Respuesta máx 700 carác.", rows="4", maxlength="700", data-companyquestion="{{ companyquestion.id }}")
                            span.count Restan #[span.number 700] carác.
                        |{% endfor %}