header#headerformcase
    .headerformcase-container
        .headerformcase-inner
            a(href="{% url 'website:home' %}")
                img.logo(src="{% static 'images/logo_banner.png' %}", alt="logo")