.section-container
    .section-inner
        h2.title {{ page.title_evaluator }}
        p.subtitle {{ page.description_evaluator }}
        .tabs_options.tabs_options--onlycomite
            .selector.selector--onlycomite
            ul.ul--onlycomite
                li #[a.option.option--active.js_option_tab(data-tab="js_tab_one", data-carousel="js_slick_committee") Comité]
                li.li--onlycomite #[a.option.js_option_tab(data-tab="js_tab_two", data-carousel="js_slick_evaluator") Jurado]
        .tabs_container
            .tab.js_tab_one.tab--active
                .committee.js_slick_committee
                    |{% for item in page.evaluator_set.all %}
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{{ item.image.url }}", alt="noticia")
                            p.title {{ item.name }}
                    |{% endfor %}
                    |{% comment %}
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{% static 'images/icon_committee_1.jpg' %}", alt="noticia")
                            p.title Andrea de la Piedra 
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{% static 'images/icon_committee_2.jpg' %}", alt="noticia")
                            p.title Augusto Townsend 
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{% static 'images/icon_committee_3.jpg' %}", alt="noticia")
                            p.title Beatrice Avolio 
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{% static 'images/icon_committee_4.jpg' %}", alt="noticia")
                            p.title Gianfranco Castagnola 
                    .box
                        .committee__item
                            .bg
                                img.icon(src="{% static 'images/icon_committee_5.jpg' %}", alt="noticia")
                            p.title Susana Llosa
                    |{% endcomment %}
            .tab.js_tab_two
                .evaluator.js_slick_evaluator
                    .box.box--left
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box.box--right
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box.box--left
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box.box--right
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box.box--left
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                    .box.box--right
                        .evaluator__item
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
                            .item__box
                                .circle
                                    img.icon_woman(src="{% static 'images/icon_woman.png' %}")
                                .information
                                    p.title Jurado 01
                                    p.description Cargo
