
.section-container
    .section-inner
        include ../modules/index-header
        .menu_mobile.js_menu_mobile
            img.logo(src="{% static 'images/logo_banner.png' %}", alt="logo")
            a.js_option_header_mobile(data-section="sobreelpremio") Sobre El Premio
            a.js_option_header_mobile(data-section="categoria") Categorías                
            a.js_option_header_mobile(data-section="etapas") Etapas
            a.js_option_header_mobile(data-section="evaluadores") Evaluadores
            a(href="{{ page.base_legal.url }}", target="_blank") Bases del concurso
            a.js_option_header_mobile(data-section="contactanos") Contáctanos
            a.button(href="{% url 'website:form' %}" target="_blank") Inscribir a tu empresa
        .menu_opacity.js_menu_opacity
        .logo
            img.icon(src="{% static 'images/logo_banner.png' %}", alt="logo")
            img.award(src="{% static 'images/award_banner.png' %}", alt="logo")
        .sponsor
            img.icon(src="{% static 'images/sponsor_banner.png' %}", alt="sponsor")
        .info
            p.text Llegó el momento de eliminar las diferencias salariales entre hombres y mujeres
        .register
            a.button(href="{% url 'website:form' %}") Inscribir a tu empresa
        .terms
            a.button(href="{{ page.base_legal.url }}", target="_blank") Bases del concurso
        .bottom
            .box
                img.icon(src="{% static 'images/sponsor_banner.png' %}", alt="sponsor")
            .box
                .circle.js_option_header(data-section="sobreelpremio")
                    .arrow
                .circle.circle--mobile.js_arrow_header_mobile(data-section="sobreelpremio")
                    .arrow
            .box