.section-container
    .section-inner
        .sponsor
            .sponsor__item
                p.title Organizador
                .bg
                     img.icon(src="{% static 'images/icon_sponsor_1.png' %}", alt="organizador")
            .sponsor__item
                p.title Aliados
                .bg
                     img.icon(src="{% static 'images/icon_sponsor_2.png' %}", alt="aliados")
            .sponsor__item
                p.title Agencia creativa
                .bg
                     img.icon(src="{% static 'images/icon_sponsor_3.png' %}", alt="creatividad")