.section-container
    .section-inner
        h2.title {{ page.title_phases }}
        .calendar
            |{% for item in page.phases_set.all %}
            .calendar__item
                .bg
                    img.icon(src="{{ item.image.url }}", alt="noticia")
                .title
                    p.top {{ item.title }}
                    p.bottom {{ item.date }}
                .description
                    p.top {{ item.sub_title }}
                    p.bottom {{ item.description }}
            |{% endfor %}
            |{% comment %}
            .calendar__item
                .bg
                    img.icon(src="{% static 'images/icon_calendar_1.jpg' %}", alt="noticia")
                .title
                    p.top 1RA ETAPA
                    p.bottom Del 28.10.2019 al 23.12.2019
                .description
                    p.top Postulación
                    p.bottom Las empresas participantes se inscriben enviando su caso a través del formulario web: #[a(href="{% url 'website:form' %}") Inscribir a tu empresa aquí].
            .calendar__item
                .bg
                    img.icon(src="{% static 'images/icon_calendar_2.jpg' %}", alt="noticia")
                .title
                    p.top 2DA ETAPA
                    p.bottom 24.12.2019 al 13.02.2020
                .description
                    p.top Evaluación
                    p.bottom Se elegirá los casos de las empresas  que participaron del concurso. Se les enviará un correo electrónico con la confirmación y detalle del evento.
            .calendar__item
                .bg
                    img.icon(src="{% static 'images/icon_calendar_3.jpg' %}", alt="noticia")
                .title
                    p.top 3RA ETAPA
                    p.bottom 05.03.2020
                .description
                    p.top Premiación
                    p.bottom Se premiará a las empresas ganadoras en una gran ceremonia, la cual también se transmitirá en vivo.
            |{% endcomment %}