footer#contactanos
    .footer-container
        .footer-inner
            .box.box--logo
                img.logo(src="{% static 'images/logo_footer.png' %}", alt="logo")
                .box__item
                    a.register(href="{% url 'website:form' %}") Inscribir a tu empresa
            .box.box--info
                .box__item
                    a.link(href="{{ page.base_legal.url }}", target="_blank") Descarga las bases del concurso
                    p.info.info--bold Si tienes  alguna duda.
                    p.info Escríbenos
                    p.info.info--marginbottom {{ page.email_legal }}
                    p.info Llámanos
                    p.info {{ page.phone_legal }} Anexo {{ page.annexed_legal }}
            .box.box--link
                a.box__item(href="{{ page.brochure_legal.url }}", target="_blank")
                    .bg
                        img.icon(src="{% static 'images/icon_book.png' %}", alt="book")
                    p.icon_title Brochure
                a.box__item(href="{{ page.url_video_legal }}", target="_blank")
                    .bg
                        img.icon(src="{% static 'images/icon_youtube.png' %}", alt="book")
                    p.icon_title Video de la campaña 
                a.box__item(href="{{ page.frequent_questions_legal.url }}", target="_blank")
                    .bg
                        img.icon(src="{% static 'images/icon_question.png' %}", alt="book")    
                    p.icon_title Preguntas frecuentes            
