.section-container
    .section-inner
        h2.title {{ page.title_awards }}
        p.subtitle {{ page.description_awards }}
        .awards
            .awards__galery
                .carousel.js_slick_galery
                    |{% for item in page.awardsgallery_set.all %}
                    .carousel__item
                        img.icon(src="{{ item.image.url }}", alt="awards")
                    |{% endfor %}
                    |{% comment %}
                    .carousel__item
                        img.icon(src="{% static 'images/icon_awards_1.png' %}", alt="awards")
                    .carousel__item
                        img.icon(src="{% static 'images/artista_Luisi_Llosa.jpg' %}", alt="awards")
                    |{% endcomment %}
            .awards__info
                |{% for item in page.awardscategory_set.all %}
                .info.js_open_modal(data-title="{{ item.title }}", data-message="{{ item.description }}")
                    p.text {{ item.title }}
                    span.arrows
                |{% endfor %}
                |{% comment %}
                .info.js_open_modal(data-title="Excelencia Igualitaria Grandes Empresas", data-message="Premio a la iniciativa más innovadora para abordar la brecha salarial en empresas u organizaciones.") 
                    p.text Excelencia Igualitaria Grandes Empresas
                    span.arrows
                .info.js_open_modal(data-title="Excelencia Igualitaria PYMES", data-message="Premio a la iniciativa más innovadora para abordar la brecha salarial en pequeñas y medianas empresas.")  
                    p.text Excelencia Igualitaria PYMES
                    span.arrows
                .info.js_open_modal(data-title="Excelencia Igualitaria Emprendimiento", data-message="Premio al emprendimiento con mayor potencial en la reducción de la brecha salarial en empresas u organizaciones.") 
                    p.text Excelencia Igualitaria Emprendimiento
                    span.arrows
                .info.js_open_modal(data-title="Caso de Éxito Comunicación Interna Grandes Empresas", data-message="Reconoce la estrategia de comunicación más efectiva dentro de empresas u organizaciones que promuevan la igualdad salarial.")  
                    p.text Caso de Éxito Comunicación Interna Grandes Empresas
                    span.arrows
                .info.js_open_modal(data-title="Caso de Éxito Comunicación Interna PYMES", data-message="Reconoce la estrategia de comunicación más efectiva dentro de pequeñas y medianas empresas que promuevan la igualdad salarial.")   
                    p.text Caso de Éxito Comunicación Interna PYMES
                    span.arrows
                .info.js_open_modal(data-title="Gran Premio Igualitario", data-message="Reconoce a la empresa u organización que evidenció la iniciativa con mayor impacto en la reducción de brecha salarial.") 
                    p.text Gran Premio Igualitario
                    span.arrows
                |{% endcomment %}
                