.section-container
    .section-inner
        h2.title {{ page.title_news }}
        p.subtitle {{ page.description_news }}
        .news.js_slick_news
            |{% for item in page.news_set.all %}
            .box
                a(href="{{ item.url }}", target="_blank").news__item
                    .bg
                        img.icon(src="{{ item.image.url }}", alt="noticia")
                    p.title {{ item.title }}
                    p.description {{ item.description }}
            |{% endfor %}

            |{% comment %}
            .box
                a(href="http://cms.imedia.pe/2019/03/09/scotiabank-presenta-el-premio-igualitario/17472954/7157", target="_blank").news__item
                    .bg
                        img.icon(src="{% static 'images/icon_news_1.jpg' %}", alt="noticia")
                    p.title Scotiabank presenta el Premio Igualitario
                    p.description
                        | Junto con Aequales y El Comercio, iniciativa busca acortar la brecha salarial y generar conciencia empresarial.
            .box
                a(href="https://peru21.pe/peru/dia-mujer-presenta-premio-igualitario-empresas-comprometan-igualdad-oportunidades-464541-noticia/?ref=p21r", target="_blank").news__item
                    .bg
                        img.icon(src="{% static 'images/icon_news_2.jpg' %}", alt="noticia")
                    p.title Día Internacional de la Mujer: Scotiabank y El Comercio presentan el Premio Igualitario
                    p.description
                        | La brecha salarial sigue siendo una de las demostraciones más evidentes de desigualdad entre mujeres y hombres.
            .box
                a(href="https://www.mercadonegro.pe/marketing/premio-igualitario-presento-comite-consultivo-de-referentes-en-inclusion-y-diversidad/", target="_blank").news__item
                    .bg
                        img.icon(src="{% static 'images/icon_news_3.jpg' %}", alt="noticia")
                    p.title Premio igualitario presentó Comité Consultivo de referentes en inclusión y diversidad
                    p.description
                        | El Comité Consultivo estará integrado por Andrea de la Piedra, Augusto Townsend, Beatrice Avolio, Gianfranco ...
            .box
                a(href="https://www.youtube.com/watch?v=sAVYUsvX4r0", target="_blank").news__item
                    .bg
                        img.icon(src="{% static 'images/icon_news_4.jpg' %}", alt="noticia")
                    p.title Video campaña Premio Igualitario Scotiabank
                    p.description
                        | Campaña lanzada el 08 de marzo para reforzar el compromiso con la igualdad y la disminución de la brecha salarial.
            |{% endcomment %}