.section-container
    .section-inner
        h2.title {{ page.title_features }}
        p.subtitle {{ page.description_features }}
        p.subtitle Sus objetivos principales son:
        .properties.js_slick_statistic
            |{% for item in page.features_set.all %}
            .box
                .properties__item
                    img.icon(src="{{ item.image.url }}", alt="impactar")
                    p.title {{ item.title }}
                    p.description {{ item.description }}
            |{% endfor %}
            |{% comment %}
            .box
                .properties__item
                    img.icon(src="{% static 'images/icon_impact.png' %}", alt="impactar")
                    p.title IMPACTAR
                    p.description
                        | en la sociedad a través de la promoción de prácticas organizacionales que contribuyan 
                        | a reducir las brechas salariales y de género.
            .box
                .properties__item
                    img.icon(src="{% static 'images/icon_spread.png' %}", alt="difundir")
                    p.title DIFUNDIR
                    p.description
                        | las mejores prácticas orientadas a reducir la brecha salarial y de género con la finalidad de 
                        | que otras organizaciones puedan incorporarlas.
            .box
                .properties__item
                    img.icon(src="{% static 'images/icon_recognize.png' %}", alt="reconocer")
                    p.title RECONOCER
                    p.description
                        | a las organizaciones que vienen haciendo esfuerzos continuos por reducir dicha brecha salarial.
            .box
                .properties__item
                    img.icon(src="{% static 'images/icon_visible.png' %}", alt="visibilizar")
                    p.title VISIBILIZAR
                    p.description
                        | la importancia de la toma de acción para el cierre de brechas salariales y de género en el Perú.
            |{% endcomment %}