header#header.js_header
    input#goMenu(type="checkbox")
    .header-container
        .header-inner
            .hamburger
                label.js_hamburger(for="goMenu")
                    span
                    span
                    span
            .option
                a.js_option_header(data-section="sobreelpremio") Sobre El Premio
                a.js_option_header(data-section="categoria") Categorías                
                a.js_option_header(data-section="etapas") Etapas
                a.js_option_header(data-section="evaluadores") Evaluadores
                a(href="{{ page.base_legal.url }}", target="_blank") Bases del concurso
                span.js_option_contact Contáctanos
                    .contact.js_contact
                        .contact__row.contact__row--borderbottom
                            p.text.text--bold Teléfono
                            a.text(href="tel:{{ page.phone_legal }}") {{ page.phone_legal }}
                            p.text Anexo {{ page.annexed_legal }}
                        .contact__row
                            p.text.text--bold Correo
                            a.text(href="mailto:{{ page.email_legal }}") {{ page.email_legal }}
            .btnregister
                a(href="{% url 'website:form' %}") Inscribir a tu empresa
            img.logo_mobile(src="{% static 'images/logo_banner.png' %}", alt="logo")