.section-container
    .section-inner
        .box
            .box__item
                img.logo(src="{% static 'images/logo_banner.png' %}", alt="logo")
                img.sponsor(src="{% static 'images/sponsor_banner.png' %}", alt="sponsor")
            .box__item
                h1.title Evaluación Casos Premio Igualitario
                form.login#form_login(method="POST")
                    |{% csrf_token %}
                    .login__row
                        label.title Usuario:
                        input.text(type="text", name="username", id="username", placeholder="Usuario")
                    .login__row.login__row--moremargin
                        label.title Contraseña:
                        input.text(type="password", name="password", id="password", placeholder="Contraseña")
                    |{% if form.password.errors %}
                    .login__row
                        |{{ form.password.errors }}
                    |{% endif %}
                    .login__row.login__row--option
                        a.link(href="{% url 'website:reset_password' %}") ¿Olvidó su contraseña?
                        button.submit(type="submit") INGRESAR

