.section-container
    .section-inner
        .box
            .box__item
                .participant
                    .participant__detail
                        .row.row--top
                            span.tag {{ participant.companycategories.first }}
                            | {% if participant.state == QUALIFIED %}
                            .state
                                span.state__text {{ participant.get_state_display }}:
                                span.state__point {{ participantevaluation.first.score|floatformat:"-2" }} ptos.
                                span.state__icon.state__icon--success
                            | {% else %}
                            | {{ participant.companydetailevaluation_set.jury }}
                            | {% if participant.companydetailevaluation_set.all|length > 0 %}
                            | {% for evaluation in participant.companydetailevaluation_set.all %}
                            | {% if evaluation.jury.username == user.get_username %}
                            | {% else %}
                            .state
                                span.state__text Por calificar
                                span.state__icon.state__icon--alert
                            | {% endif %}
                            | {% endfor %}
                            | {% for evaluation in participant.companydetailevaluation_set.all %}
                            | {% if evaluation.jury.username == user.get_username %}
                            .state
                                span.state__text Calificado:
                                span.state__point {{ participantevaluation.first.score|floatformat:"-2" }} ptos.
                                span.state__icon.state__icon--success
                            | {% endif %}
                            | {% endfor %}
                            | {% else %}
                            .state
                                span.state__text {{ participant.get_state_display }}
                                span.state__icon.state__icon--alert
                            | {% endif %}
                            | {% endif %}
                        .row.row--medium
                            span.label.label--purple NOMBRE DE LA INICIATIVA
                            span.name {{ participant.initiative }}
                        .row.row--bottom
                            span.label.label--black NOMBRE DE LA EMPRESA:
                            span.company {{ participant.name }}
                        .row.row--files
                            |{% if participant.videourl %}
                            a.video(href="{{ participant.videourl }}" target="_blank")
                                img.icon(src="{% static 'images/icon_video.png' %}", alt="video")
                                span.text Mira el video del caso
                            |{% endif %}
                            |{% if participant.videourl_additional %}
                            a.video(href="{{ participant.videourl_additional }}" target="_blank")
                                img.icon(src="{% static 'images/icon_video.png' %}", alt="video")
                                span.text Mira el video del caso
                            |{% endif %}
                            |{% if participant.photo %}
                            a.images(href="{{ participant.photo.url }}" target="_blank")
                                img.icon(src="{% static 'images/icon_image.png' %}", alt="imagenes")
                                span.text Descarga la imagen
                            |{% endif %}
                            |{% if participant.photo_additional %}
                            a.images(href="{{ participant.photo_additional.url }}" target="_blank")
                                img.icon(src="{% static 'images/icon_image.png' %}", alt="imagenes")
                                span.text Descarga la imagen
                            |{% endif %}
                            |{% if participant.pdf %}
                            a.pdf(href="{{ participant.pdf.url }}" target="_blank")
                                img.icon(src="{% static 'images/icon_pdf.png' %}", alt="pdf")
                                span.text Descarga el PDF
                            |{% endif %}
                            | {% if participant.pdf_additional %}
                            a.pdf(href="{{ participant.pdf_additional.url }}" target="_blank")
                                img.icon(src="{% static 'images/icon_pdf.png' %}", alt="pdf")
                                span.text Descarga el PDF
                            | {% endif %}
                        .row.row--questions
                            |{% for detail in participantdetail %}
                            span.question {{ forloop.counter }}. {{ detail.question }}
                            span.response
                                | {{ detail.response }}
                            |{% endfor %}
            .box__item
                form.form#form_participant_evaluation
                    span.title Califica el proyecto
                    |{% csrf_token %}
                    input(type="hidden", name="company", id="company", value="{{ participant.id }}")
                    input(type="hidden", name="jury", id="jury", value="{{ user.id }}")
                    |{% if participantevaluation %}
                    |{% for criteria in participant.companycategories.first.companycategorycriteria_set.all %}
                    |{% if criteria.name_input == "impact" %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.impact }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.impact }}", step="0.5", disabled)
                    |{% elif criteria.name_input == "creativity" %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.creativity }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.creativity }}", step="0.5", disabled)
                    |{% elif criteria.name_input == "social_change" %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.social_change }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.social_change }}", step="0.5", disabled)
                    |{% elif criteria.name_input == "sustainability" %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.sustainability }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.sustainability }}", step="0.5", disabled)
                    |{% elif criteria.name_input == "originality"  %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.originality }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.originality }}", step="0.5", disabled)
                    |{% elif criteria.name_input == "scope"  %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point {{ participantevaluation.first.scope }}
                        input.range.js_range(type="range", min="0", max="10",
                            value="{{ participantevaluation.first.scope }}", step="0.5", disabled)
                    |{% endif %}
                    |{% endfor %}
                    .form__row.form__row--marginbottom
                        .info
                            label.title.title--bold Comentarios Generales:
                        p.text {{ participantevaluation.first.comment }}
                    |{% else %}
                    |{% for criteria in participant.companycategories.first.companycategorycriteria_set.all %}
                    .form__row
                        .info
                            label.title {{ criteria.title }}
                            span.point.js_point 0
                        input.range.js_range(type="range", min="0", max="10", value="0", step="0.5",
                            name="{{ criteria.name_input }}")
                    |{% endfor %}
                    .form__row.form__row--marginbottom
                        .info
                            label.title Comentarios Generales:
                        textarea.text(placeholder="Comentarios", rows="5", maxlength="250", name="comment",
                            id="comment")
                    .form__row
                        a.submit#send_form Enviar Calificación
                    |{% endif %}

