.section-container
    .section-inner
        .box
            .box__item
                .menu
                    .title
                        p.text Postulaciones
                    .subtitle
                        p.text Filtrar
                    .filter
                        p.text.text--title Calificación
                        a(href="?" data-state="").option.option--active.js_filter_state
                            span.circle
                            p.text Todos
                        a(href="?state=QUALIFIED" data-state="QUALIFIED").option.js_filter_state
                            span.circle
                            p.text Calificados
                        a(href="?state=SUITABLE" data-state="SUITABLE").option.js_filter_state
                            span.circle
                            p.text No calificados
                        .artifice
                            select.select(name="companystate", id="companystate", class="js_select_state")
                                option(value="" data-href="") Todos
                                option(value="QUALIFIED" data-href="?state=QUALIFIED") Calificados
                                option(value="SUITABLE" data-href="?state=SUITABLE") No calificados
                    .filter
                        p.text.text--title Categorías
                        a(href="?" data-category="").option.option--active.js_filter_category
                            span.circle
                            p.text Todos
                        a(href="?category=1" data-category="1").option.js_filter_category
                            span.circle
                            p.text Excelencia Igualitaria Grandes Empresas
                        a(href="?category=2" data-category="2").option.js_filter_category
                            span.circle
                            p.text Caso de Éxito Comunicación Interna Grandes Empresas
                        a(href="?category=3" data-category="3").option.js_filter_category
                            span.circle
                            p.text Excelencia Igualitaria PYMES
                        a(href="?category=4" data-category="4").option.js_filter_category
                            span.circle
                            p.text Caso de Éxito Comunicación Interna PYMES
                        a(href="?category=5" data-category="5").option.js_filter_category
                            span.circle
                            p.text Excelencia Igualitaria Emprendimiento
                        .artifice
                            select.select(name="companycategory", id="companycategory", class="js_select_category")
                                option(value="" data-href="") Todos
                                option(value="1" data-href="?category=1") Excelencia Igualitaria Grandes Empresas
                                option(value="2" data-href="?category=2") Caso de Éxito Comunicación Interna Grandes Empresas
                                option(value="3" data-href="?category=3") Excelencia Igualitaria PYMES
                                option(value="4" data-href="?category=4") Caso de Éxito Comunicación Interna PYMES
                                option(value="5" data-href="?category=5") Excelencia Igualitaria Emprendimiento
            .box__item
                .participant
                    |{% for participant in object_list %}
                    a.participant__item(href="{% url 'website:preliminary_participantdetail' participant.id %}")
                        .row.row--top
                            span.tag {{ participant.companycategories.first }}
                            |{% if participant.state == 'QUALIFIED' or participant.state == 'FINALIST' or participant.state == 'WINNER'%}
                            .state
                                span.state__text {{ participant.get_state_display }}
                                span.state__icon.state__icon--success
                            |{% else %}
                            |{{ participant.companydetailevaluation_set.jury }}
                            |{% if participant.companydetailevaluation_set.all|length > 0 %}
                            |{% for evaluation in participant.companydetailevaluation_set.all %}
                            |{% if evaluation.jury.username == user.get_username %}
                            |{% else %}
                            .state
                                span.state__text Por calificar
                                span.state__icon.state__icon--alert
                            |{% endif %}
                            |{% endfor %}
                            |{% for evaluation in participant.companydetailevaluation_set.all %}
                            |{% if evaluation.jury.username == user.get_username %}
                            .state
                                span.state__text Calificado
                                span.state__icon.state__icon--success
                            |{% endif %}
                            |{% endfor %}
                            |{% else %}
                            .state
                                span.state__text {{ participant.get_state_display }}
                                span.state__icon.state__icon--alert
                            |{% endif %}
                            |{% endif %}

                        .row.row--medium
                            span.name {{ participant.initiative }}
                        .row.row--bottom
                            span.company {{ participant.name }}
                            //|{# {% if participant.state == 'QUALIFIED' or participant.state == 'FINALIST'%}
                            //span.point {{ participant.score_preliminary|floatformat:"-2" }} ptos.
                            //|{% endif %} #}
                            |{% for evaluation in participant.companydetailevaluation_set.all %}
                            |{% if evaluation.jury.username == user.get_username and evaluation.type == 'PRELIMINARY' %}
                            span.point {{ evaluation.score|floatformat:"-2" }} ptos.
                            |{% endif %}
                            |{% endfor %}
                    |{% endfor %}
                | {% if is_paginated %}
                .paginator(role="navigation" aria-label="Pagination")
                    | {% if page_obj.has_previous %}
                    a.arrow.arrow--prev(href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}")
                    | {% endif %}
                    .number
                        span.number.text {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    | {% if page_obj.has_next %}
                    a.arrow.arrow--next(href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}")
                    | {% endif %}
                | {% endif %}