.section-container
    .section-inner
        h1.title ¿Olvidaste tu Clave?
        h2.subtitle Ingrese su correo registrado para el envío de su nueva contraseña
        form.resetpassword#form_resetpassword(method="POST")
            |{% csrf_token %}
            .resetpassword__row
                input.text(type="text", name="email", id="email", placeholder="Correo Electrónico")
            |{% if form.email.errors %}
            .resetpassword__row.resetpassword__row--error
                |{{ form.email.errors }}
            |{% endif %}
            |{% if msg %}
            .resetpassword__row.resetpassword__row--error
                ul.errorlist
                    li {{ msg }}
            |{% endif %}
            .resetpassword__row.resetpassword__row--submit
                button.submit(type="submit") Recuperar contraseña
            .resetpassword__row
                a.link(href="{% url 'website:login' %}") Inicio de Sesión