.section-container
    .section-inner
        img.logo(src="{% static 'images/logo_footer.png' %}")
        h1.title Gracias por participar
        h2.subtitle 
            | Con esta  iniciativa construiremos un Perú con más igualdad, sin barreras y por nuestro futuro. 
        h2.subtitle Hemos enviado la confirmación de registro al mail ingresado
        a.btn(href="{% url 'website:home' %}") Regresar al home