header#headerdashboard {
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;

    .headerdashboard-container {
      width: 100%;
      padding: 0 40px;

      @media screen and (max-width: 768px){
           padding: 0 20px;
      }
    }

    .headerdashboard-inner {
        width: 100%;
        line-height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img.logo {
        width: 112px;
        height: auto;
    }

    .hamburger {
        width: auto;
        z-index: 9999;
        position: relative;

        @media screen and (max-width: 768px){
            display: block;
            width: 30px;
        }

        &--ghost {
          visibility: hidden;
        }

        label {
            cursor: pointer;
            position: relative;
            z-index: 999;

            span {
              width: 28px;
              height: 4px;
              display: block;
              background-color: #FFF;
              transition: transform 0.25s ease-out;
              z-index: 999;

              &:nth-child(2){
                margin: 4px 0;
              }
            }
        }

        .rotate {
            span {
              background-color: #FFF;
              transition: transform 0.25s ease-out;

              &:nth-child(1){
                transform: rotate(45deg) translate(2.5px);
              }
              &:nth-child(2){
                height: 0;
                width: 0;
                margin: 0;
              }
              &:nth-child(3){
                transform: rotate(-45deg) translate(2.5px);
              }

            }
        }
    }

    .menu {
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      box-sizing: content-box;
      background-color: #353535;
      min-width: 200px;
      padding: 20px 20px;
      border-radius: 10px;
      //border: 1px solid #bebebe;
      top: 25px;
      -webkit-box-shadow: 10px 7px 5px -2px rgba(0,0,0,0.27);
      -moz-box-shadow: 10px 7px 5px -2px rgba(0,0,0,0.27);
      box-shadow: 10px 7px 5px -2px rgba(0,0,0,0.27);
      display: none;

      p.user {
        color: #FFF;
        font-size: 14px;
        font-family: "Scotia_Rg";
        display: block;
        margin: 0;
        margin-bottom: 5px;
        line-height: normal;
        text-align: center;
      }

      a.logout {
        color: #FFF;
        font-size: 14px;
        font-family: "Scotia_Rg";
        display: block;
        text-align: left;
        line-height: normal;
        text-align: center;
      }
    }
}