header#headerformcase {
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 68px;


    .headerformcase-inner {
        line-height: 0;
    }

    img.logo {
        width: 112px;
        height: auto;
    }
}