

#formcase {

    /* globals */

    section {
        width: 100%;
    }

    .section-container {
        max-width: 1036px;
        margin: 0 auto;
        padding: 70px 20px;
    }
      
    .section-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* end globals */


    .section-steps {
        background-image: url(../images/bg_form.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;

        .section-container {

            @media screen and (max-width: 1024px){    
                padding: 40px 20px;
            }

            @media screen and (max-width: 768px){    
                padding: 30px 20px;
            }
        }

        .section-inner {

            .box {
                width: 100%;
                display: flex; 
                
                @media screen and (max-width: 680px){    
                    flex-direction: column;
                }

                &__item {
                    display: flex;
                    justify-content: center;

                    &:first-child {
                        width: 30%;
                        
                        @media screen and (max-width: 768px){    
                            justify-content: flex-start;
                        }

                        @media screen and (max-width: 680px){    
                            width: 100%;
                        }
                    }
    
                    &:last-child {
                        width: 70%;

                        @media screen and (max-width: 680px){    
                            width: 100%;
                        }
                    }
                }

                form.form { 
                    width: 100%;
                    max-width: 562px;

                    @media screen and (max-width: 680px){    
                        max-width: 100%;
                    }

                    h3.option {
                        display: none;
                    }
                }

                .step {

                    &__row {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        width: 100%;
                        padding-bottom: 24px;

                        @media screen and (max-width: 680px){    
                            padding-bottom: 20px;
                        }

                        &--inline {
                            flex-direction: row;
                        }

                        &--smallpadding {
                            padding-bottom: 10px;

                            &:last-of-type {
                                padding-bottom: 24px;
                            }
                        }

                        &--nopadding {
                            padding-bottom: 0;
                        }

                        &--nopadding_terms {
                            padding-bottom: 10px;
                        }

                        &--hidden {
                            display: none;
                        }
                    }   
                    

                    .artifice {
                        position: relative;
                  
                        &:before {
                            position: absolute;
                            content: '';
                            width: 3px;
                            height: 13px;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            top: 22px;
                            right: 19px;
                            z-index: 2;
                            background: #bebebe;
                            mix-blend-mode: normal;
                            border-radius: 10px;
                        }
                  
                        &:after {
                            position: absolute;
                            content: '';
                            width: 3px;
                            height: 13px;
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            top: 22px;
                            right: 26px;
                            z-index: 2;
                            background: #bebebe;
                            mix-blend-mode: normal;
                            border-radius: 10px;
                        }
                    }

                    span.jcf-file {
                        margin-top: 10px;

                        &:first-of-type {
                           margin-top: 0;
                        }
                    }

                    label.title {
                        font-family: "Scotia_Rg";
                        font-size: 16px;
                        font-weight: normal;  
                        width: 100%;
                        display: block;
                        outline: none;
                        color: #7354b9;
                        margin-bottom: 10px;

                        &--checkbox {
                            color: #686B6F;
                            margin-bottom: 0;
                            margin-left: 8px;
                            display: flex;
                            align-items: center;
                            padding-top: 1px;
                            width: 100%;
                            max-width: 510px;
                            display: inline-block;
                        }

                        &--margintop {
                            margin-top: 14px
                        }

                        a {
                            color: #62a5f6;
                            margin-right: 5px;

                            @media screen and (max-width: 680px){    
                                display: contents;
                            }
                        }

                        &.form-error {
                            color: #F20000;
                        }

                        &.label-error {
                            color: #F20000;
                            a {
                                color: #F20000;
                            }
                        }
                    }

                    label.form-error {
                        font-family: "Scotia_Rg";
                        font-size: 14px;
                        color: #F20000;
                        margin-top: 6px;
                        display: flex;
                        text-align: left;
                    }

                    input.text {
                        background: #fbfbfb;
                        border: 1px solid #bebebe;
                        box-sizing: border-box;
                        border-radius: 10px;
                        color: #686B6F;
                        width: 100%;
                        display: block;
                        height: 54px;
                        font-size: 15px;
                        font-family: "Scotia_Rg";        
                        font-weight: normal;
                        padding-left: 15px;
                        padding-right: 15px;
                        outline: none;
                        position: relative;
                        margin-top: 10px;

                        &--hidden {
                          display: none;
                        }

                        &:first-of-type {
                            margin-top: 0;
                        }

                        &.form-error {
                            border: 1px solid #F20000;
                            color: #F20000;
                        }
                    }


                    textarea.text {
                        background: #fbfbfb;
                        border: 1px solid #bebebe;
                        box-sizing: border-box;
                        border-radius: 10px;
                        color: #686B6F;
                        width: 100%;
                        display: block;
                        font-size: 15px;
                        font-family: "Scotia_Rg";        
                        font-weight: normal;
                        padding: 21px 15px;
                        outline: none;
                        resize: none;

                        &.form-error {
                            border: 1px solid #F20000;
                            color: #F20000;
                        }
                    }

                    select.select {
                        background: #fbfbfb;
                        border: 1px solid #bebebe;
                        box-sizing: border-box;
                        border-radius: 10px;
                        color: #686B6F;
                        width: 100%;
                        display: block;
                        height: 54px;
                        font-size: 15px;
                        font-family: "Scotia_Rg";          
                        font-weight: normal;
                        padding-left: 15px;
                        outline: none;
                        position: relative;        
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding-right: 44px;
                        cursor: pointer;
                    }

                    span.count {
                        font-size: 13px;
                        font-weight: bold;
                        color: #686B6F;
                        font-family: "Scotia_Rg"; 
                        margin-top: 8px;
                        text-align: right; 
                    }

                    span.button {
                        width: 190px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        margin-top: 10px;
                        cursor: pointer;

                        span.icon {
                            width: 15px;
                            height: 15px;
                            border: 2px solid #686B6F;
                            border-radius: 100px;
                            position: relative;   
                        }

                        &--add {
                            span.icon {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    width: 9px;
                                    height: 3px;
                                    top: 0;
                                    background-color: #686B6F;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: 9px;
                                    height: 3px;
                                    top: 0;
                                    background-color: #686B6F;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        &--remove {
                            span.icon {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    width: 9px;
                                    height: 3px;
                                    top: 0;
                                    background-color: #686B6F;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                }
                            }
                        }

                        p.text {
                            font-size: 14px;
                            font-weight: bold;
                            color: #686B6F;
                            font-family: "Scotia_Rg"; 
                            line-height: 1;
                            margin: 0;                            
                            margin-left: 5px;
                            padding-top: 4px;  
                        }
                    }

                    .content_input {
                        margin-top: 10px;

                        &:first-of-type{
                            margin-top: 0;
                        }
                    }
                }

                .steps {
                    display: none;
                }

                .actions {

                    ul li a {
                        width: 240px;
                        height: 54px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        align-content: center;
                        color: #FFF;
                        font-size: 17px;
                        text-align: center;
                        cursor: pointer;
                        font-family: "Scotia";
                        font-weight: normal;
                        font-weight: 400;
                        outline: none;
                        background-color: #7354b9;    
                        text-decoration: none;      
                        line-height: 1;
                        transition: all 0.1s ease-out;

                        @media screen and (max-width: 680px){    
                            width: 100%;
                        }

                        &:hover {
                            background-color: #57477c;        
                        }
                    }          

                    ul li:first-child {
                        display: none;
                    }
                }

                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    max-width: 180px;

                    @media screen and (max-width: 680px){
                        max-width: 100%;
                    }

                    .title {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;

                        h2.text {
                            font-size: 23px;
                            font-family: "Scotia_Rg";
                            text-align: left;
                            margin: 0;
                            color: #353535;
                            width: 170px;
                            position: relative;
                            padding-left: 10px;
                            height: 100%;

                            &:before {
                                content: "";
                                height: 100%;
                                width: 3px;
                                background-color: #353535;
                                position: absolute;
                                top: 0;
                                left: 0;

                                @media screen and (max-width: 680px){
                                    display: none;
                                }

                            }

                            @media screen and (max-width: 680px){    
                                width: 100%;
                                height: auto;
                                line-height: normal;
                                text-align: center;
                                padding-left: 0;
                                font-size: 20px ;
                            }
                        }
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 20px;

                        @media screen and (max-width: 680px){
                            flex-direction: row;
                        }

                        .option {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            cursor: pointer;
                            margin-bottom: 10px;

                            @media screen and (max-width: 680px){
                                margin-bottom: 0;
                                width: 50%;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            span.circle {
                                width: 24px;
                                height: 24px;
                                border-radius: 100px;
                                background-color: transparent;
                                border: 1px solid #686B6F;
                                outline: none;
                                position: relative;

                                &:before {
                                    width: 18px;
                                    height: 18px;
                                    content: "";
                                    border-radius: 100px;
                                    background-color: #be2f22;
                                    position: absolute;
                                    top: 3px;
                                    left: 3px;
                                    opacity: 0;
                                    transform: scale(0.4);
                                    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                                }
                            }

                            p.text {
                                font-size: 15px;
                                font-family: "Scotia_Rg";
                                text-align: center;
                                margin: 0;
                                color: #686B6F;
                                margin-left: 10px;
                                padding-top: 4px;
                                font-weight: bold;

                                @media screen and (max-width: 680px){
                                    padding-top: 0;
                                }

                                @media screen and (max-width: 375px){
                                    max-width: 100px
                                }
                            }
    
                            &--active {
                                p.text {
                                    color: #be2f22;
                                }

                                span.circle {
                                    border: 1px solid #be2f22;

                                    &:before {
                                        width: 18px;
                                        height: 18px;
                                        content: "";
                                        border-radius: 100px;
                                        background-color: #be2f22;
                                        position: absolute;
                                        top: 3px;
                                        left: 3px;
                                        opacity: 1;
                                        transform: scale(0.9);
                                    }
                                }
                            }
                        }
                    }

                    .help {
                        display: flex;
                        flex-direction: column;

                        @media screen and (max-width: 680px){
                            display: none;
                        }

                        a.link {
                            font-size: 15px;
                            font-family: "Scotia_Rg";
                            text-align: left;
                            color: #62a5f6;
                            margin: 0;
                            text-decoration: underline;
                            position: relative;

                            &:before {
                                position: absolute;
                                content: '';
                                background-color: #62a5f6;
                                width: 3px;
                                height: 8px;
                                -webkit-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                                z-index: 2;
                                mix-blend-mode: normal;
                                opacity: 1;
                                right: 8px;
                                top: 2px;
                            }

                            &:after {
                                position: absolute;
                                content: '';
                                background-color: #62a5f6;
                                width: 2px;
                                height: 8px;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                                z-index: 2;
                                mix-blend-mode: normal;
                                opacity: 1;
                                right: 8px;
                                bottom: 2px;
                            }

                        } 

                        .helpone {
                           width: 157px 
                        }

                        .helptwo {
                            width: 104px;
                        }

                        .helpthree {
                            width: 104px;
                        }
                    }
                }
            }
        }
    }
    
}
  
  