footer {
    width: 100%;
    display: flex;
    justify-content: center;   
    background-color: #333333;
    background: linear-gradient(80deg, #f6f6f6 50%, #333333 0%);

    @media screen and (max-width: 768px){    
        background: #333333;
    }

    .footer-container {
        height: 224px;
        max-width: 1366px;
        width: 100%;

        @media screen and (max-width: 768px){    
            height: auto;
        }
    }

    .footer-inner {
        display: flex;
        flex-direction: row;
        height: 100%;

        @media screen and (max-width: 768px){    
            flex-direction: column
        }

        .box {
            width: 33.3333%;
            background-color: #333333;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 768px){    
                width: 100%;
            }
            
            &--logo {
                background-color: #f6f6f6;
                
                @media screen and (max-width: 768px){    
                    padding-left: 0;
                    align-items: center;
                    order: 1;
                    background-color: #333333;
                }

                .box__item {
                    @media screen and (max-width: 768px){   
                        width: 276px;
                        padding: 25px 0px 18px 0px;
                        box-sizing: border-box;
                        border-bottom: 1px solid #666666;
                    }
                }
            }

            &--info {
                padding-left: 70px;
                align-items: flex-start;

                @media screen and (max-width: 980px){    
                    padding-left: 40px;
                }

                @media screen and (max-width: 768px){    
                    padding-left: 0;
                    align-items: center;
                    order: 3;
                }

                .box__item {
                    @media screen and (max-width: 768px){   
                        width: 276px;
                        padding: 25px 15px;
                        box-sizing: border-box;
                        border-top: 1px solid #666666;
                    }
                }
            }

            &--link {
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: row;
                align-items: flex-start;
                padding-top: 27px;

                @media screen and (max-width: 768px){   
                    justify-content: center;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    order: 2;
                }

                .box__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;       
                    width: 70px;                    
                    margin-right: 26px;
    
                    &:last-child {
                        margin-right: 0;
                    }

                    @media screen and (max-width: 980px){    
                        margin-right: 10px;
                    }

                    @media screen and (max-width: 768px){   
                        margin-right: 15px;
                    }
                }
            }

            a.register {
                width: 100%;
                height: 51px;
                background-color: #1c1c1c;
                display: none;
                justify-content: center;
                align-items: center;
                font-family: "Scotia_Rg";
                font-size: 15px;
                color: #FFF;
                text-decoration: none;
                border-radius: 3px;

                @media screen and (max-width: 768px){   
                    display: flex;
                }
            }

            .bg {
                width: 45px;
                height: 45px;      
                display: flex;
                flex-direction: column;       
                justify-content: center;
                align-items: center; 
                margin-bottom: 10px;
            }


            img.logo {
                width: 208px;
                height: 80px;

                @media screen and (max-width: 768px){   
                   display: none;
                }
            }
            
            a.link {
                font-family: "Scotia_Rg";
                font-weight: bold;
                font-size: 15px;
                margin: 0;
                color: #62a5f6;
                text-decoration: underline;
                margin-bottom: 21px;
                display: block;

                @media screen and (max-width: 768px){   
                    margin-bottom: 15px;
                }
            }

            p.info {
                font-family: "Scotia_Rg";
                font-size: 15px;
                margin: 0;
                color: #FFF;
                text-decoration: none;

                &--bold {
                    font-weight: bold;
                    margin-bottom: 21px;

                    @media screen and (max-width: 768px){   
                        margin-bottom: 15px;
                    }
                }

                &--marginbottom {
                    margin-bottom: 25px;

                    @media screen and (max-width: 768px){   
                        margin-bottom: 15px;
                    }
                }
            }

            p.icon_title {
                font-family: "Scotia_Rg";
                font-size: 13px;
                margin: 0;
                color: #FFF;
                text-align: center;
            }
        }
    }
}