header#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 11111;
    margin: 0 auto;
    padding: 0 30px;
    transition: all .3s;
    background-color: transparent;
   
    @media screen and (max-width: 768px){    
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;  
        transition: all .3s;
        background-color: transparent;
    }
    
    .header-container {        
        margin: 0 auto;
        width: 100%;
        max-width: 1210px;
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        @media screen and (max-width: 1024px){
            padding: 20px 30px;
        }

        @media screen and (max-width: 768px){    
            padding-top: 0;
            height: 70px;
            padding: 0 20px;
        }

        //@media (max-width: 768px) and (orientation: landscape) {
        //     height: 60px;
        //}

        .hamburger {
            width: 100%;
            display: none;
            z-index: 9999;
            position: relative;
    
            @media screen and (max-width: 768px){    
                display: block;
                width: 30px;
            }
    
            label {
                cursor: pointer;
                position: relative;
                z-index: 999;

                span {            
                  width: 28px;
                  height: 4px;
                  display: block;
                  background-color: #FFF;
                  transition: transform 0.25s ease-out;
                  z-index: 999;

                  &:nth-child(2){ 
                    margin: 4px 0;
                  }
                }
            }

            .rotate {
                span {
                  background-color: #FFF;
                  transition: transform 0.25s ease-out;
      
                  &:nth-child(1){
                    transform: rotate(45deg) translate(2.5px);
                  }
                  &:nth-child(2){
                    height: 0;
                    width: 0;
                    margin: 0;
                  }
                  &:nth-child(3){
                    transform: rotate(-45deg) translate(2.5px);
                  }
      
                }
            }
        }
    
        .option {
            
            @media screen and (max-width: 768px){    
                display: none;
            }

            a {
                font-size: 18px;
                font-family: "Scotia"; 
                font-weight: bold;
                color: #FFF;
                text-decoration: none;
                margin-right: 45px;
                cursor: pointer;
                position: relative;

                @media screen and (max-width: 1024px){
                    margin-right: 14px;
                }

                @media screen and (max-width: 980px){    
                    margin-right: 18px;
                }

                @media (max-width: 860px) and (orientation: landscape) {
                    font-size: 15px;
                }
    
                &:last-child {
                    margin-right: 0;
                }
            }

            span {
                font-size: 18px;
                font-family: "Scotia";
                font-weight: bold;
                color: #FFF;
                text-decoration: none;
                margin-right: 45px;
                position: relative;
                cursor: pointer;

                @media screen and (max-width: 1024px){
                    margin-right: 18px;
                }

                @media screen and (max-width: 980px){
                    margin-right: 18px;
                }

                @media (max-width: 860px) and (orientation: landscape) {
                    font-size: 15px;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                     .contact {
                         visibility: initial;
                         opacity: 1;
                     }
                }
            }

            .contact {
                visibility: hidden;
                position: absolute;
                background-color: #FFF;
                width: 228px;
                border-radius: 10px;
                left: 50%;
                right: 0;
                margin-left: -114px;
                margin-right: auto;
                top: 40px;
                cursor: default;
                opacity: 0;
                transition: opacity 0.2s linear;

                &__row {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding: 10px 0;

                    &--borderbottom {
                        border-bottom: 1px solid #7c74b4;
                    }

                    p.text, a.text {
                        font-family: 'Scotia_Lt';
                        color: #7c74b4;
                        font-size: 14px;
                        text-align: center;
                        width: 100%;
                        margin-right: 0;
                        padding: 0;
                        margin: 0 auto;

                        &--bold {
                            font-size: 15px;
                            font-family: 'Scotia';
                        }
                    }
                }

                &:before {
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid #ffffff;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    content: '';
                    top: -19px;
                }
            }
        }
    
        .btnregister {
            display: block;
            width: auto;
            margin: 0;

            @media screen and (max-width: 768px){    
                display: none;
            }
    
            a {
                font-size: 16px;
                font-family: "Scotia"; 
                font-weight: bold;
                color: #261a52;
                text-decoration: none;
                width: 206px;
                height: 37px;
                background-color: #FFF;
                border-radius: 10px;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
    
                @media screen and (max-width: 980px){    
                    width: 180px;
                }
    
            }
        }

        img.logo_mobile {
            display: none;

            @media screen and (max-width: 768px){    
                width: 120px;
                opacity: 0;
                display: block;
            }
            
        }
    }

    #goMenu {
        display: none;
        height: 0;
        opacity: 0;
        visibility: hidden;
        width: 0;
    }
}

header#header.header-fixed {
    background-color: #7c74b4;
    position: fixed;

    @media screen and (max-width: 768px){    
        overflow: hidden;
        background-color: #060606;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;               
    }

    .header-inner {       

        @media screen and (max-width: 768px){    
            padding-top: 0;
            height: 70px;
            padding: 0 20px;
        }

        //@media (max-width: 768px) and (orientation: landscape) {
        //     height: 60px;
        //}

        img.logo_mobile { 
            @media screen and (max-width: 768px){    
                opacity: 1;
            }
        }
    }
}
