#home {
  /* globals */
  section {
    width: 100%;
  }

  .section-container {
    max-width: 1288px;
    margin: 0 auto;
    padding: 45px 20px;
  }

  .section-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 10px;
    }

    h2.title {
      font-size: 25px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      font-family: "Scotia";
      font-weight: bold;
    }

    p.subtitle {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 25px;
      font-family: "Scotia_Rg";
      font-size: 17px;
    }
  }

  /* end globals */

  .section-banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-color: #62a5f6;
    background-color: #FFFF;
    background-position: 73%;
    height: 100vh;
    min-height: 568px;
    

    @media screen and (max-width: 1366px){    
      background-image: url(../images/bg_banner_1366.jpg);
      background-position: 78%;
    }

    @media screen and (max-width: 1024px){    
      background-image: url(../images/banner.jpg);
      background-position: 78%;
    }

    @media screen and (max-width: 768px){    
      background-image: url(../images/banner.jpg);
      background-position-y: 0%;
      min-height: 670px;
    }

    @media screen and (max-width: 320px){    
      min-height: 568px;
    }

    // solucion alterna si no se cambia la imagen de fondo
    // @media screen and (max-width: 480px){    
    //   max-height: 539px;
    //   min-height: 0
    // }

    .section-container {
      max-width: 1210px;
      margin: 0 auto;
      padding: 0 30px;
      height: 100%;

      @media screen and (max-width: 768px){    
        padding: 0 24px;
      }
    }

    .section-inner {
      height: 100%;
      position: relative;

      .award {
        position: absolute;
        right: 0;
        max-width: 600px;
        width: 100%;
        top: -40px; 

        @media screen and (max-width: 1366px){    
          max-width: 550px;
        }

        @media screen and (max-width: 1024px){    
          max-width: 500px;
        }

        @media (max-width: 980px) and (orientation: landscape) {
             display: none ;
        }

        @media screen and (max-width: 768px){    
          display: none;
        }
      }

      .logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;

        @media screen and (max-width: 768px){    
          justify-content: center;
        }

        img.icon {
          width: 100%;
          max-width: 470px;
          height: 100%;
          max-height: 182px;

          @media screen and (max-width: 768px){    
            max-width: 351px;
          }

          @media screen and (max-width: 480px){    
            max-width: 218px;
          }
        }
      }

      .sponsor {
        width: 100%;
        display: none;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        @media screen and (max-width: 768px){    
          display: flex;
        }

        @media screen and (max-width: 480px){
          margin-top: 20px;
          margin-bottom: 25px; 
        }  

        img.icon {
          width: 100%;
          height: 100%;
          max-height: 74px;

          @media screen and (max-width: 768px){    
            max-width: 351px;
          }

          @media screen and (max-width: 480px){    
            max-width: 218px;
          }
        }
      }

      .info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-top: 70px;
        align-items: center;

        @media screen and (max-width: 768px){    
          justify-content: center;
          align-items: flex-start;
          margin-top: 0;
        }

        @media screen and (max-width: 480px){    
          margin-bottom: 0;
        }

        p.text {
          font-size: 23px;
          width: 100%;
          max-width: 313px;
          font-family: 'Scotia';
          color: #FFF;
          margin: 0;
          position: relative;

          &:before {
            content: "";
            height: 100%;
            width: 2px;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: -10px;

            @media screen and (max-width: 768px){    
              display: none;
            }
          }

          @media screen and (max-width: 768px){    
            font-family: 'Scotia';
            max-width: 351px;
            color: #FFFF;
          }

          @media screen and (max-width: 480px){    
            max-width: 218px;
            font-size: 17px;
          }
        }
      }
      
      // no tocar
      .register {
        display: none;
        width: 100%;
        justify-content: center;

        @media screen and (max-width: 768px){              
          display: flex;
          margin-top: 40px;
          margin-bottom: 15px;    
        }

        a.button {
          font-size: 17px;
          font-family: 'Scotia';
          text-decoration: none;
          color: #261a52;
          height: 51px;
          width: 100%;
          max-width: 351px;
          background-color: #FFF;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px;

          @media screen and (max-width: 480px){    
            max-width: 274px;
          }
        }
      }

      // no tocar
      .terms {
        display: none;
        width: 100%;
        justify-content: center;

        @media screen and (max-width: 768px){    
          display: flex;
        }

        a.button {
          font-size: 17px;
          font-family: 'Scotia';
          text-decoration: none;
          color: #FFF;
          height: 37px;
          width: 100%;
          max-width: 351px;
          background-color: #7c74b4;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 9px;
          border: 1px solid #FFF;

          @media screen and (max-width: 480px){    
            max-width: 274px;
          }
        }
      }

      // no tocar
      .bottom {
        width: 100%;
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;

        .box {
          width: 33.3333%;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 768px){    
            width: 100%;
          }

          &:nth-child(2) {
            align-items: flex-end;
            
          }

          &:first-child {
            justify-content: flex-start;

            @media screen and (max-width: 768px){    
              display: none;
            }
          }
          &:last-child {

            @media screen and (max-width: 768px){    
              display: none;
            }
          }
        }

        img.icon {
          max-width: 350px;
          width: 100%;

          @media screen and (max-width: 980px){    
            max-width: 290px;
          }

        }

        .circle {
          width: 52px;
          height: 52px;
          border-radius: 100px;
          background: rgba(0, 0, 0, 0.3);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @media screen and (max-width: 768px){    
            display: none;
          }

          &--mobile {
            display: none;
            
            @media screen and (max-width: 768px){    
              display: flex;
            }

            @media screen and (max-width: 480px){    
              width: 34px;
              height: 34px;
            }
          }
        }

        .arrow {
          width: 26px;
          height: 26px;
          position: relative;
          -moz-animation: bounce 2s infinite;
          -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;

          @media screen and (max-width: 480px){    
            height: 20px;
          }

          &:before {
            position: absolute;
            content: '';
            background-color: #ffffff;
            width: 4px;
            height: 17px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            z-index: 2;
            mix-blend-mode: normal;
            opacity: 1;
            right: 16px;
            border-radius: 39px;
            bottom: 0;

            @media screen and (max-width: 480px){    
              height: 14px;
              right: 14px;
            }
          }

          &:after {
            position: absolute;
            content: '';
            background-color: #ffffff;
            width: 4px;
            height: 17px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            z-index: 2;
            mix-blend-mode: normal;
            opacity: 1;
            right: 6px;
            border-radius: 39px;
            bottom: 0;

            @media screen and (max-width: 480px){    
              height: 14px;
              right: 7px;
            }
          }
        }
      }

      /*nuevo*/
      .menu_mobile {
          background-color: #060606;
          width: 100%;
          height: auto;
          -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          position: fixed;
          top: 0;
          left: -100%;
          height: 100%;
          transition: left 0.5s ease-out;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          z-index: 5;

          &--show {
              transition: left 0.5s ease-out;
              left: 0;
              z-index: 999;
          }

          a {
              font-size: 22px;
              font-family: "Scotia_Headline";
              color: #FFF;
              text-decoration: none;
              cursor: pointer;
              margin-bottom: 30px;
  
              &:last-child {
                  margin-bottom: 0;
              }

              @media (max-width: 768px) and (orientation: landscape) {
                margin-bottom: 10px;
                font-size: 20px;
              }

              @media (max-width: 600px) and (orientation: landscape) {
                margin-bottom: 6px;
              }
          }

          a.button {
              width: 184px;
              height: 35px;
              border-radius: 10px;
              font-size: 15px;
              font-family: "Scotia"; 
              border: 1px solid #FFF;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 2px;


          }

          img.logo {
              width: 100px;
              position: absolute;
              top: 13px;
              right: 24px;
              display: none;
          }
      }

      .menu_opacity {
        background: #000;
        bottom: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity .3s, bottom 0s .3s;
        z-index: 1;

        &--show {
            bottom: 0%;
            opacity: .6;
            transition: opacity .3s;
        }
    }
      /*fin nuevo*/
    }
  }

  .section-statistic {
    background-image: url(../images/bg_statistic.png);
    background-repeat: no-repeat;
    background-position: center;

    .section-inner {

        h2.title {
          color: #ffffff;
          width: 660px;

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 22px;
          }
        }

        p.subtitle {
          color: #ffffff;
          width: 692px;

          &:first-of-type {
            margin-bottom: 15px;
          }

          @media screen and (max-width: 768px){    
            width: 660px;
          }

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 14px;
          }
        }

        .box {
          outline: none;
          height: 250px;
          display: flex;
          justify-content: center;
        }

        .properties {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1065px;  
            width: 100%;

            @media screen and (max-width: 1024px){    
              width: 100%;
              justify-content: space-evenly;
              max-width: 100%; 
            }

            @media screen and (max-width: 980px){    
              width: 100%;
              max-width: 312px; 
            }

            &__item {
              width: 215px;
              background-color: #FFF;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              padding-top: 25px;
              padding-bottom: 25px;
              outline: none;

              @media screen and (max-width: 1024px){    
                height: 230px;
                padding-top: 0;
                padding-bottom: 0;
                justify-content: center;
              }

              @media screen and (max-width: 768px){    
                width: 100%;
              }

              &:last-child {
                margin-right: 0;
              }
            }

            img.icon {
              margin-bottom: 10px;
              max-width: 60px;
              width: 100%;
            }

            p.title {
              font-size: 14px;
              font-weight: bold;
              text-align: center;
              color: #7c74b4;
              font-family: "Scotia";
              margin: 0 auto;
              margin-bottom: 10px;
            }

            p.description {
              font-size: 14px;
              font-family: "Scotia_Rg";
              text-align: center;
              margin: 0 auto;
              padding: 0 15px;
            }

            .slick-dots {
              bottom: -10px;
            }
          
            .slick-dots li {
              background-color: #bebebe;
              width: 29px;
              height: 5px;
              border-radius: 15px;
            }

            .slick-dots li.slick-active {
              background-color: #be2f21;
            }

            .slick-dots li button {
              width: 29px;
              height: 5px;
            }

            .slick-dots li button:before {
              width: 29px;
              height: 5px;
              content: "";
            }
        }

        .slick-dotted.slick-slider {
          margin-bottom: 0;
        }
    }
  }

  .section-news {
    background-color: #f6f6f6;

    .section-inner {

        h2.title {
          color: #0e0e0e;
          width: 508px;
          margin-bottom: 15px;

          @media screen and (max-width: 768px){    
            width: 100%;
          }

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 22px;
          }
        }

        p.subtitle {
          color: #626262;
          width: 680px;

          @media screen and (max-width: 768px){    
            width: 100%;
          }

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 14px;
          }
        }

        .news {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1065px;  
            width: 100%;

            @media screen and (max-width: 768px){    
              width: 100%;
              max-width: 312px; 
            }

            .box {
              display: flex;
              justify-content: center;
              outline: none;
              height: 320px;

              @media screen and (max-width: 768px){    
                width: 100%;
                max-width: 320px; 
              }

              @media screen and (max-width: 320px){    
                height: 300px;
              }

              &--left {
                justify-content: flex-start;

                @media screen and (max-width: 1024px){    
                  justify-content: center;
                }
              }

              &--right {
                justify-content: flex-end;

                @media screen and (max-width: 1024px){    
                  justify-content: center;
                }
              }
            }

            &__item {
              width: 312px;
              height: 285px;
              background-color: #FFF;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              outline: none;
              text-decoration: none;
              -webkit-box-shadow: 5px 6px 13px -9px rgba(0,0,0,0.71);
              -moz-box-shadow: 5px 6px 13px -9px rgba(0,0,0,0.71);
              box-shadow: 5px 6px 13px -9px rgba(0,0,0,0.71);

              @media screen and (max-width: 768px){    
                box-shadow: none;
              }

              @media screen and (max-width: 320px){    
                width: 100%;
              }

              &:last-child {
                margin-right: 0;
              }

              &:hover {
                img.icon {
                  transform: scale(1.1);
                  
                }
              }
            }

            .bg {
              height: 143px;
              width: 100%;
              overflow: hidden;
              border-radius: 10px 10px 0 0;
            }

            img.icon {
              transition: 0.2s;
              width: 100%;
            }

            p.title {
              font-size: 15px;
              font-weight: bold;
              text-align: left;
              color: #be2f21;
              font-family: "Scotia";
              margin: 0 auto;
              margin-bottom: 10px;             
              margin-top: 20px;            
              padding: 0 30px;
              position: relative;

              &:before {
                content: "";
                height: 100%;
                width: 2px;
                background-color: #be2f21;
                position: absolute;
                top: 0;
                left: 22px;
              }
            }

            p.description {
              font-size: 14px;
              font-family: "Scotia_Rg";
              text-align: left;
              margin: 0 auto;
              padding: 0 30px;
              color: #626262;
            }

            .slick-dots {
              bottom: -10px;
            }
          
            .slick-dots li {
              background-color: #bebebe;
              width: 29px;
              height: 5px;
              border-radius: 15px;
            }

            .slick-dots li.slick-active {
              background-color: #be2f21;
            }

            .slick-dots li button {
              width: 29px;
              height: 5px;
            }

            .slick-dots li button:before {
              width: 29px;
              height: 5px;
              content: "";
            }
        }

        .slick-dotted.slick-slider {
          margin-bottom: 0;
        }
    }
  }

  .section-calendar {
    background-color: #ffffff;

    .section-inner {

      h2.title {
        color: #353535;
        width: 508px;
        margin-bottom: 40px;

        @media screen and (max-width: 768px){    
          width: 100%;
        }

        @media screen and (max-width: 680px){    
          width: 100%;
          font-size: 22px;
        }
      }

      .calendar {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 1065px;  
          width: 100%;

          @media screen and (max-width: 1024px){    
            justify-content: space-evenly;
          }

          @media screen and (max-width: 980px){    
            width: 100%;
            max-width: 312px; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &__item {
            width: 295px;
            height: 411px;
            background-color: #FFF;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            outline: none;
            text-decoration: none;
            -webkit-box-shadow: 9px 11px 18px -13px rgba(0,0,0,0.71);
            -moz-box-shadow: 9px 11px 18px -13px rgba(0,0,0,0.71);
            box-shadow: 9px 11px 18px -13px rgba(0,0,0,0.71);
            

            @media screen and (max-width: 1024px){    
              margin-bottom: 25px;

              &:last-child {
                margin-bottom: 0;
              }
            }

            @media screen and (max-width: 320px){    
              width: 100%;
            }

            &:last-child {
              margin-right: 0;
            }

            // &:hover {
            //   img.icon {
            //     transform: scale(1.1);
            //   }
            // }
          }

          .bg {
            height: 194px;
            width: 100%;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
          }

          img.icon {
            transition: 0.2s;
            width: 100%;
          }

          .title {  
            width: 100%;
            margin-top: 15px;
            margin-bottom: 20px;
            position: relative;
            padding: 5px 0;

            &:before {
              content: "";
              height: 100%;
              width: 2px;
              background-color: #7c74b4;
              position: absolute;
              top: 0;
              left: 15px;
            }

            p.top {
              font-size: 14px;
              font-weight: bold;
              text-align: left;
              color: #7c74b4;
              font-family: "Scotia";
              display: block;
              margin: 0;
              padding: 0 25px;                   
              margin-bottom: 10px;
            }

            p.bottom {
              font-size: 14px;
              font-family: "Scotia_Rg";
              text-align: left;
              color: #626262;
              margin: 0;
              padding: 0 25px;
            }
          }

          .description {
            p.top {
              font-size: 14px;
              font-weight: bold;
              text-align: left;
              color: #626262;
              font-family: "Scotia";
              display: block;
              margin: 0;
              padding: 0 25px;                   
              margin-bottom: 10px;
            }

            p.bottom {
              font-size: 14px;
              font-family: "Scotia_Rg";
              text-align: left;
              color: #626262;
              margin: 0;
              padding: 0 25px;

              a {
                display: inline;
                text-decoration: underline;
                color: #62a5f6;
                cursor: pointer;
              }
            }
          }
      }
    }
  }

  .section-evaluator {
    background-color: #7c74b4;

    .section-inner {

        h2.title {
          color: #FFF;
          width: 508px;
          margin-bottom: 15px;

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 22px;
          }
        }

        p.subtitle {
          color: #FFF;
          width: 385px;

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 14px;
          }
        }

        .tabs_container {
          .tab { 
            transition: opacity 0.6s ease;
            opacity: 0;
            height: 0;
            width: 0;
            overflow: hidden;

            &--active {
              opacity: 1;
              height: 368px;
              width: 100%; 
              // height: auto;
            }
          }
        }

        .tabs_options {
          width: 180px;
          display: flex;        
          justify-content: center;
          margin-bottom: 40px;
          position: relative;

          &--onlycomite {
            width: 90px;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            width: 100%;
          }

          .ul--onlycomite {
            justify-content: center;
          }

          .li--onlycomite {
            display: none;
          }
          
          .selector {
            color: #FFF;
            border: 2px solid #FFF;
            border-radius: 20px;
            line-height: 0;
            position: absolute;
            width: 80px;
            height: 28px;
            left: 0;
            background-color: transparent;
            transition-duration:0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &--onlycomite {
              left: 2px;
            }
          }
          
          .option {
            display: flex;
            justify-content: center;  
            align-items: center;        
            font-size: 15px;
            font-family: "Scotia";
            font-weight: bold;
            color: #261a52;          
            border: none;
            width: 80px;
            height: 25px;
            cursor: pointer;
            border: 2px solid #7c74b4;
            border-radius: 20px;
            padding-top: 3px;
            transition-duration:0.6s;

            &--active {
              color: #FFF;
              border: 2px solid transparent;
              border-radius: 20px;
              line-height: 0;
            }
          }
        }

        .committee {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 800px;  
            width: 100%;

            @media screen and (max-width: 768px){    
              width: 100%;
              max-width: 312px; 
            }

            .box {
              display: flex;
              justify-content: center;
              outline: none;
              height: 360px;

              @media screen and (max-width: 768px){    
                width: 100%;
                max-width: 320px; 
              }

              // @media screen and (max-width: 320px){    
              //   height: 360px;
              // }

              &--left {
                justify-content: flex-start;

                @media screen and (max-width: 1024px){    
                  justify-content: center;
                }
              }

              &--right {
                justify-content: flex-end;

                @media screen and (max-width: 1024px){    
                  justify-content: center;
                }
              }
            }

            &__item {
              width: 248px;
              height: 337px;
              background-color: #FFF;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              outline: none;
              text-decoration: none;
              position: relative;

              @media screen and (max-width: 768px){    
                box-shadow: none;
              }

              // @media screen and (max-width: 320px){    
              //   width: 100%;
              // }

              &:last-child {
                margin-right: 0;
              }
            }

            .bg {
              height: 337px;
              width: 100%;
              overflow: hidden;
              border-radius: 10px;
            }

            img.icon {
              transition: 0.2s;
              width: 100%;
            }

            p.title {
              font-size: 20px;
              font-weight: bold;
              color: #FFF;
              font-family: "Scotia";
              position: absolute;
              margin: 0 auto;
              // bottom: 35px;
              bottom: 18px;
            }

            p.description {
              font-size: 15px;
              font-family: "Scotia_Rg";
              color: #FFF;
              position: absolute;
              margin: 0 auto;
              bottom: 18px;
            }

            .slick-dots {
              bottom: -10px;
            }
          
            .slick-dots li {
              background-color: #bebebe;
              width: 29px;
              height: 5px;
              border-radius: 15px;

              @media screen and (max-width: 768px){    
                width: 30px;
              }
            }

            .slick-dots li.slick-active {
              background-color: #be2f21;
            }

            .slick-dots li button {
              width: 29px;
              height: 5px;
            }

            .slick-dots li button:before {
              width: 29px;
              height: 5px;
              content: "";
            }
        }

        .evaluator {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 795px;  
          width: 100%;

          @media screen and (max-width: 768px){    
            width: 100%;
            max-width: 560px; 
          }

          @media screen and (max-width: 480px){    
            max-width: 312px; 
          }

          .box {
            display: flex;
            justify-content: center;
            outline: none;
            height: 360px;

            // @media screen and (max-width: 768px){    
            //   height: 320px;
            // }

            // @media screen and (max-width: 480px){    
            //   height: 300px;
            // }

            &--left {
              justify-content: flex-start;

              @media screen and (max-width: 1024px){    
                justify-content: center;
              }
            }

            &--right {
              justify-content: flex-end;

              @media screen and (max-width: 1024px){    
                justify-content: center;
              }
            }
          }

          &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            outline: none;
            text-decoration: none;
            position: relative;
          }

          .item__box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;          
            width: 206px;
            height: 66px;
            margin-bottom: 40px;

            @media screen and (max-width: 768px){    
              width: 190px;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &:first-child {
              margin-top: 10px;
            }
          } 

          .circle {
            width: 66px;
            height: 66px;
            border-radius: 100px;
            background-color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 9px 11px 18px -13px rgba(0,0,0,0.71);
            -moz-box-shadow: 9px 11px 18px -13px rgba(0,0,0,0.71);
            box-shadow: 5px 6px 13px -9px rgba(0,0,0,0.71);
          }  
          
          img.icon_woman {
            width: 29px;
            height: 42px;
          }

          p.title {
            font-size: 24px;
            font-weight: bold;
            color: #353535;
            font-family: "Scotia";
            margin: 0 auto;

            @media screen and (max-width: 768px){    
              font-size: 22px;
            }
    
          }

          p.description {
            font-size: 16px;
            font-family: "Scotia_Rg";
            color: #353535;
            margin: 0 auto;

            @media screen and (max-width: 768px){    
              font-size: 12px;
            }
          }

          .slick-dots {
            bottom: -10px;
          }
        
          .slick-dots li {
            background-color: #bebebe;
            width: 29px;
            height: 5px;
            border-radius: 15px;

            @media screen and (max-width: 480px){    
              width: 10px;
            }
          }

          .slick-dots li.slick-active {
            background-color: #be2f21;
          }

          .slick-dots li button {
            width: 29px;
            height: 5px;
          }

          .slick-dots li button:before {
            width: 29px;
            height: 5px;
            content: "";
          }
        }

        .slick-dotted.slick-slider {
          margin-bottom: 0;
        }
    }
  }

  .section-sponsor {
    background-color: #ffffff;

    .section-inner {
      padding: 20px 0;

      @media screen and (max-width: 680px){    
        padding: 0;
      }

        .sponsor {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1065px;  
            width: 100%;

            @media screen and (max-width: 680px){    
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            &__item {
              width: 33.333%;
              height: auto;
              background-color: #FFF;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              outline: none;
              text-decoration: none;

              @media screen and (max-width: 680px){ 
                width: 100%;   
                margin-bottom: 40px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }

            .bg {
              height: 100%;
              width: auto;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            img.icon {
              width: auto;
              max-width: 320px;
              height: auto;

              @media screen and (max-width: 768px){    
                max-width: 200px;
              }

              @media screen and (max-width: 680px){    
                max-width: 280px;
              }
            }

            p.title {
              font-size: 20px;
              font-weight: bold;
              color: #353535;
              font-family: "Scotia";
              margin: 0 auto;        
              position: relative;
              margin-bottom: 20px;

              @media screen and (max-width: 680px){  
                font-size: 18px;
                margin-bottom: 15px;
              }
            }
        }
    }
  }

  .section-awards {
    background-color: #f6f6f6;

    .section-inner {

        h2.title {
          color: #0e0e0e;
          width: 508px;
          margin-bottom: 15px;

          @media screen and (max-width: 768px){    
            width: 100%;
          }

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 22px;
          }
        }

        p.subtitle {
          color: #626262;
          width: 410px;
          margin-bottom: 35px;

          @media screen and (max-width: 768px){    
            width: 100%;
          }

          @media screen and (max-width: 680px){    
            width: 100%;
            font-size: 14px;
            margin-bottom: 20px;
          }
        }

        .awards {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 1065px;  
            width: 100%;

            @media screen and (max-width: 680px){    
              flex-direction: column;
            }

            &__galery {
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              @media screen and (max-width: 680px){    
                width: 100%;
                margin-bottom: 40px;
              }
            }

            &__info {
              width: 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              max-width: 469px;

              @media screen and (max-width: 680px){    
                width: 100%;
                max-width: 100%;
              }
            }

            .carousel {
              width: 100%;
              max-width: 450px;
              outline: none;

              @media screen and (max-width: 768px){
                max-width: 320px;
              }
              
              &__item {
                outline: none;
                width: 440px;
                height: 440px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;



              }
            }

            img.icon {            
              max-width: 420px;
              max-height: 420px;
              width: auto;
              height: auto;

              @media screen and (max-width: 980px){
                max-width: 300px;
                max-height: 300px;
              }
            }

            .info {
              position: relative;
              cursor: pointer;
              border-bottom: 1px solid #bebebe;

              &:last-child {
                border-bottom: none;
              }
            }         

            p.text {
              font-size: 15px;
              font-family: "Scotia_Rg";
              text-align: left;
              margin: 0 auto;
              color: #626262;
              padding: 20px 0;
              position: relative;     
              padding-right: 35px;      
              transition: color 0.15s ease-out;

              &:hover {
                color: #be2f21;
              }
              
              @media screen and (max-width: 680px){    
                font-size: 14px;
                padding: 15px 0;
                padding-right: 35px;  
              }
            }

            span.arrows {
              position: absolute;
              width: 20px;
              height: 20px;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;

              &:before {
                position: absolute;
                content: '';
                background-color: #be2f21;
                width: 3px;
                height: 13px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                z-index: 2;
                mix-blend-mode: normal;
                opacity: 1;
                right: 8px;
                top: 0;
              }

              &:after {
                position: absolute;
                content: '';
                background-color: #be2f21;
                width: 3px;
                height: 13px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                z-index: 2;
                mix-blend-mode: normal;
                opacity: 1;
                right: 8px;
                bottom: 0;
              }
            }

            .slick-dots {
              bottom: -10px;
            }
          
            .slick-dots li {
              background-color: #bebebe;
              width: 29px;
              height: 5px;
              border-radius: 15px;
            }

            .slick-dots li.slick-active {
              background-color: #6b65a8;
            }

            .slick-dots li button {
              width: 29px;
              height: 5px;
            }

            .slick-dots li button:before {
              width: 29px;
              height: 5px;
              content: "";
            }
        }

        .slick-dotted.slick-slider {
          margin-bottom: 0;
        }
    }
  }
}