#loader{
  z-index: 999999999999999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(1,42,130); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgb(6, 6, 6) 0%,rgb(6, 6, 6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgb(6, 6, 6) 0%,rgb(6, 6, 6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060606', endColorstr='#060606',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.loader-inner{
  display: table;
  width: 100%;
  height: 100%;
}

.box{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


/* -------------- Clock -------------- */

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 6px;
  border-radius: 50%;
  background: transparent;
  animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
