#login {

  /* globals */
  section {
    width: 100%;
  }

  .section-index {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FFFF;
    background-position: 73%;
    height: 100vh;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 480px){
      min-height: 560px;
    }
  }

  .section-container {
    max-width: 1062px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 1024px){
      flex-direction: column;
    }

    @media screen and (max-width: 480px){
      padding: 0 20px;
    }

  }

  .section-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

      .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 1024px){
          flex-direction: column;
        }

        &__item {
          display: flex;
          flex-direction: column;
          width: 100%;

          @media screen and (max-width: 1024px){
            justify-content: center;
            align-items: center;
          }

          &:first-child {
            margin-right: 30px;

            @media screen and (max-width: 480px){
              margin-right: 0;
            }
          }

          &:last-child {
            align-items: flex-end;

            @media screen and (max-width: 1024px){
              justify-content: center;
              align-items: center;
              margin-top: 40px;
            }

            @media screen and (max-width: 480px){
              margin-top: 20px;
            }
          }
        }
      }

      img.logo {
        max-width: 470px;
        width: 100%;

        @media screen and (max-width: 480px){
          max-width: 250px;
        }
      }

      img.sponsor {
        margin-top: 40px;
        max-width: 410px;
        width: 100%;

         @media screen and (max-width: 1024px){
            margin-top: 20px;
         }

          @media screen and (max-width: 480px){
            max-width: 230px;
            margin-top: 10px;
          }
      }

      h1.title {
        text-align: left;
        font-family: "Scotia";
        margin: 0;
        font-size: 23px;
        color: #FFF;
        margin-bottom: 30px;
        max-width: 480px;
        width: 100%;

        @media screen and (max-width: 1024px){
            margin-bottom: 20px;
        }

        @media screen and (max-width: 480px){
            font-size: 17px;
            margin-bottom: 15px;
        }
      }

      .login {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #FFF;
        background-color: #a199cd;
        padding: 33px;
        box-sizing: border-box;

        @media screen and (max-width: 480px){
          padding: 20px;
        }

        &__row {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          margin-bottom: 25px;

          @media screen and (max-width: 480px){
            flex-direction: column;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &--option {
            @media screen and (max-width: 480px){
              flex-direction: column-reverse;
            }
          }

          &--moremargin {
            margin-bottom: 35px;

            @media screen and (max-width: 480px){
              margin-bottom: 25px;
            }
          }
        }

        .errorlist {
          li {
              font-family: 'Scotia_Rg';
              color: #ff0105;
              font-size: 16px;
          }
        }

        label.title {
          font-family: 'Scotia_Rg';
          color: #FFF;
          font-size: 20px;
          margin-right: 13px;
          display: flex;
          align-items: center;

          @media screen and (max-width: 480px){
            font-size: 17px;
            margin-right: 0;
            margin-bottom: 8px;
          }
        }

        input.text {
          background: #fbfbfb;
          border: 1px solid #bebebe;
          box-sizing: border-box;
          border-radius: 10px;
          color: #686B6F;
          width: 100%;
          max-width: 275px;
          display: block;
          height: 42px;
          font-size: 15px;
          font-family: "Scotia_Rg";
          font-weight: normal;
          padding-left: 15px;
          padding-right: 15px;
          outline: none;
          position: relative;

          &.form-error {
              border: 1px solid #F20000;
              color: #F20000;
          }
        }

        a.link {
          font-family: 'Scotia_Rg';
          color: #FFF;
          font-size: 18px;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 20px;
          text-decoration: underline;

          @media screen and (max-width: 480px){
            font-size: 15px;
            margin-right: 0;
            margin-top: 10px;
          }
        }

        button.submit {
          font-family: 'Scotia';
          color: #FFF;
          font-size: 20px;
          background-color: #6964a4;
          padding: 10px 44px;
          border-radius: 10px;
          cursor: pointer;
          outline: none;
          border: 0;

          @media screen and (max-width: 480px){
            font-size: 17px;
          }
        }
      }
  }

}