

#participantdetail, #finalparticipantdetail {

    /* globals */

    section {
        width: 100%;
    }

    .section-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px 20px;

        @media screen and (max-width: 1024px){
            padding: 40px 20px;
        }

        @media screen and (max-width: 768px){
            padding: 30px 20px;
        }
    }

    .section-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* end globals */


    .section-index {
        background-image: url(../images/bg_form.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;

        .section-inner {

            .box {
                width: 100%;
                display: flex;

                @media screen and (max-width: 680px){
                    flex-direction: column;
                }

                &__item {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    &:first-child {
                        width: 70%;
                        margin-right: 15px;

                        @media screen and (max-width: 680px){
                            width: 100%;
                            padding-right: 0;
                            margin-right: 0;
                            margin-bottom: 20px;
                        }
                    }

                    &:last-child {
                        width: 30%;
                        align-items: center;

                        @media screen and (max-width: 768px){
                            justify-content: flex-start;
                        }

                        @media screen and (max-width: 680px){
                            width: 100%;
                        }
                    }


                }
            }

            .participant {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                &__detail {
                    max-width: 785px;
                    width: 100%;
                    border: 1px solid #bebebe;
                    border-radius: 10px;
                    padding: 20px 28px;
                    background-color: #fbfbfb;
                    margin-bottom: 22px;
                    box-sizing: border-box;
                    text-decoration: none;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @media screen and (max-width: 768px){
                        padding: 15px;
                    }
                }

                .row {
                    display: flex;
                    flex-direction: row;

                    &--top {
                        justify-content: space-between;

                        @media screen and (max-width: 680px){
                            flex-direction: column;
                        }
                    }

                    &--medium {
                        justify-content: flex-start;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        flex-direction: column;

                        @media screen and (max-width: 680px){
                            margin-top: 15px;
                        }
                    }

                    &--bottom {
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &--files {
                        justify-content: flex-start;
                        margin: 30px 0;

                        @media screen and (max-width: 680px){
                            flex-direction: column;
                        }
                    }

                    &--questions {
                        flex-direction: column;
                    }
                }

                span.tag {
                    color: #FFF;
                    font-family: "Scotia_Rg";
                    font-size: 13px;
                    background-color: #7354b9;
                    padding: 5px 10px;
                    border-radius: 5px;

                    @media screen and (max-width: 680px){
                        margin-bottom: 10px;
                        padding: 10px 14px;
                        font-size: 15px;
                    }
                }

                .state {
                    flex-direction: row;
                    align-items: center;
                    display: none;

                    &:last-child {
                        display: flex;
                    }


                    @media screen and (max-width: 680px){
                        justify-content: flex-end;
                    }

                    &__text {
                        color: #626262;
                        font-family: "Scotia_Rg";
                        font-size: 13px;
                        margin-right: 7px;
                        padding-top: 3px;

                        @media screen and (max-width: 680px){
                            font-size: 15px;
                        }
                    }

                    &__point {
                        color: #626262;
                        font-family: "Scotia";
                        font-size: 17px;
                        margin-right: 10px;

                        @media screen and (max-width: 680px){
                            font-size: 17px;
                        }
                    }

                    &__icon {
                        &--success {
                            height: 5px;
                            width: 13px;
                            border: 3px solid #88df0a;
                            border-width: 0 0 3px 3px;
                            transform: rotate(-45deg);
                            margin-bottom: 4px;
                        }

                        &--alert {
                            width: 18px;
                            height: 18px;
                            background-color: #ffd200;
                            border-radius: 100px;
                            border: none;
                            position: relative;

                            &:before {
                                content: "!";
                                font-family: "Scotia";
                                font-size: 14px;
                                position: absolute;
                                color: #FFF;
                                top: 2px;
                                left: 7.5px;
                            }
                        }
                    }
                }

                .video, .images, .pdf {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    margin-right: 20px;

                    @media screen and (max-width: 680px){
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .text {
                        color: #626262;
                        font-size: 15px;
                        font-family: "Scotia_Rg";
                        margin-left: 10px;
                        text-align: left;
                        line-height: 15px;

                    }
                    .icon {
                        width: 20px;

                        @media screen and (max-width: 680px){
                            width: 20px;
                        }
                    }
                }

                .pdf {
                    .icon {
                        width: 18px;

                        @media screen and (max-width: 680px){
                            width: 18px;
                        }
                    }

                    .text {
                        @media screen and (max-width: 680px){
                            margin-left: 12px;
                        }
                    }
                }

                span.label {
                    text-align: left;
                    font-size: 11px;

                    &--purple {
                        font-family: 'Scotia';
                        color: #7354b9;
                        margin-bottom: 5px;
                    }

                    &--black {
                        font-family: 'Scotia_Rg';
                        font-size: 11px;
                        color: #626262;
                        margin-right: 5px;
                    }
                }

                span.name {
                    color: #626262;
                    font-size: 32px;
                    text-align: left;
                    font-family: "Scotia_Headline";

                    @media screen and (max-width: 680px){
                        font-size: 20px;
                    }
                }

                span.company {
                    color: #626262;
                    font-size: 12px;
                    font-family: "Scotia";
                }

                span.point {
                    color: #626262;
                    font-size: 16px;
                    font-family: "Scotia";

                    @media screen and (max-width: 680px){
                        font-size: 15px;
                    }
                }

                span.question {
                    color: #7354b9;
                    font-size: 16px;
                    text-align: left;
                    font-family: "Scotia";
                    margin-bottom: 15px;
                }

                span.response {
                    color: #626262;
                    font-size: 16px;
                    text-align: left;
                    font-family: "Scotia_Rg";
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 20px;
                    }
                }
            }

            .form {
                width: 100%;
                max-width: 358px;
                border: 1px solid #bebebe;
                border-radius: 10px;
                padding: 20px 28px;
                background-color: #fbfbfb;
                margin-bottom: 22px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 768px){
                    max-width: 100%;
                    padding: 15px;
                }

                &__row {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    &--marginbottom {
                        margin-bottom: 30px;

                        @media screen and (max-width: 680px){
                            margin-bottom: 20px;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .info {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }

                label.title {
                    font-family: "Scotia_Rg";
                    font-size: 16px;
                    font-weight: normal;
                    display: block;
                    outline: none;
                    color: #626262;

                    &--bold {
                        font-family: "Scotia";
                        //color: #7354b9;
                    }
                }

                p.text {
                    font-family: "Scotia_Rg";
                    font-size: 16px;
                    font-weight: normal;
                    display: block;
                    outline: none;
                    color: #626262;
                    text-align: left;
                    margin: 0;
                    margin-bottom: 15px;
                }

                input.range {
                    margin-bottom: 25px;
                    -webkit-appearance: none;
                    width: 100%;
                    height: 9px;
                    border-radius: 5px;
                    background: #d3d3d3;
                    outline: none;

                    &::-moz-range-thumb {
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background: #7354b9;
                      cursor: pointer;
                      z-index: 1000;
                    }

                    &::-webkit-slider-thumb {
                      -webkit-appearance: none;
                      appearance: none;
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background: #7354b9;
                      cursor: pointer;
                      z-index: 1000;
                    }

                    &--black {

                        &::-moz-range-thumb {
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: black;
                          cursor: pointer;
                          z-index: 1000;
                        }

                        &::-webkit-slider-thumb {
                          -webkit-appearance: none;
                          appearance: none;
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: black;
                          cursor: pointer;
                          z-index: 1000;
                        }
                        }
                }

                span.point {
                    font-family: "Scotia_Rg";
                    font-size: 16px;
                    font-weight: normal;
                    display: block;
                    outline: none;
                    color: #626262;
                    transition: all 0.1s ease-out;
                }

                span.title {
                    color: #626262;
                    font-size: 20px;
                    text-align: left;
                    font-family: "Scotia_Headline";
                    text-align: center;
                    margin-bottom: 40px;
                    margin-top: 10px;

                    @media screen and (max-width: 768px){
                        margin-top: 0;
                        font-size: 17px;
                    }

                    @media screen and (max-width: 680px){
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }

                textarea.text {
                    background: #fbfbfb;
                    border: 1px solid #bebebe;
                    box-sizing: border-box;
                    border-radius: 10px;
                    color: #686B6F;
                    width: 100%;
                    display: block;
                    font-size: 16px;
                    font-family: "Scotia_Rg";
                    font-weight: normal;
                    padding: 15px 15px;
                    outline: none;
                    resize: none;

                    &.form-error {
                        border: 1px solid #F20000;
                        color: #F20000;
                    }
                }

                label.form-error {
                    font-family: "Scotia_Rg";
                    font-size: 14px;
                    color: #F20000;
                    margin-top: 6px;
                    display: flex;
                    text-align: left;
                }

                a.submit {
                    width: 100%;
                    height: 54px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    align-content: center;
                    color: #FFF;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    font-family: "Scotia";
                    font-weight: normal;
                    font-weight: 400;
                    outline: none;
                    background-color: #7354b9;
                    text-decoration: none;
                    line-height: 1;
                    transition: all 0.1s ease-out;

                    &:hover {
                        background-color: #57477c;
                    }
                }
            }
        }
    }

}

