

#participant, #finalparticipant {

    /* globals */

    section {
        width: 100%;
    }

    .section-container {
        max-width: 1036px;
        margin: 0 auto;
        padding: 40px 20px;

        @media screen and (max-width: 1024px){
            padding: 40px 20px;
        }

        @media screen and (max-width: 768px){
            padding: 30px 20px;
        }
    }

    .section-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /* end globals */


    .section-index {
        background-image: url(../images/bg_form.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;

        .section-inner {

            .box {
                width: 100%;
                display: flex;

                @media screen and (max-width: 680px){
                    flex-direction: column;
                }

                &__item {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;

                    &:first-child {
                        width: 30%;
                        align-items: center;

                        @media screen and (max-width: 768px){
                            justify-content: flex-start;
                        }

                        @media screen and (max-width: 680px){
                            width: 100%;
                        }
                    }

                    &:last-child {
                        width: 70%;

                        @media screen and (max-width: 680px){
                            width: 100%;
                        }
                    }
                }
            }

            .menu {
                @media screen and (max-width: 680px){
                    width: 100%;
                    margin-bottom: 30px;
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;

                    @media screen and (max-width: 680px){
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
                    }

                    p.text {
                        font-size: 23px;
                        font-family: "Scotia";
                        text-align: left;
                        margin: 0;
                        color: #353535;
                        width: 170px;
                        position: relative;
                        padding-left: 10px;
                        height: 100%;

                        @media screen and (max-width: 680px){
                            padding-left: 0;
                            width: auto;
                        }

                        &:before {
                            content: "";
                            height: 100%;
                            width: 3px;
                            background-color: #353535;
                            position: absolute;
                            top: 0;
                            left: 0;

                            @media screen and (max-width: 680px) {
                              display: none;
                            }
                        }
                    }
                }

                .subtitle {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;

                    @media screen and (max-width: 680px) {
                        margin-bottom: 20px;
                    }

                    p.text {
                        font-size: 20px;
                        font-family: "Scotia_Rg";
                        text-align: left;
                        margin: 0;
                        color: #626262;
                        width: 170px;
                        position: relative;
                        height: 100%;

                        @media screen and (max-width: 680px) {
                            font-size: 18px;
                        }
                    }
                }

                .filter {
                    margin-bottom: 60px;

                    @media screen and (max-width: 680px) {
                        margin-bottom: 15px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    a.text, p.text  {
                        font-size: 15px;
                        font-family: "Scotia_Rg";
                        text-align: left;
                        margin: 0;
                        color: #bebebe;
                        width: 170px;
                        position: relative;
                        height: 100%;
                        padding-left: 10px;
                        text-decoration: none;

                        &--title {
                            font-family: "Scotia";
                            padding-left: 0;
                            padding-bottom: 25px;
                            font-size: 16px;
                            color: #626262;

                            @media screen and (max-width: 680px) {
                                font-family: "Scotia_Rg";
                                padding-bottom: 10px;
                                color: #7353b9;
                            }
                        }
                    }

                    .option {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        margin-bottom: 15px;
                        text-decoration: none;

                        @media screen and (max-width: 680px){
                            display: none;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        span.circle {
                            width: 24px;
                            height: 24px;
                            min-width: 24px;
                            min-height: 24px;
                            border-radius: 100px;
                            background-color: transparent;
                            border: 1px solid #bebebe;
                            outline: none;
                            position: relative;

                            &:before {
                                width: 18px;
                                height: 18px;
                                content: "";
                                border-radius: 100px;
                                background-color: #be2f22;
                                position: absolute;
                                top: 3px;
                                left: 3px;
                                opacity: 0;
                                transform: scale(0.4);
                                transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
                            }
                        }

                        //p.text {
                        //    font-size: 15px;
                        //    font-family: "Scotia_Rg";
                        //    text-align: left;
                        //    margin: 0;
                        //    color: #686B6F;
                        //    margin-left: 10px;
                        //    padding-top: 4px;
                        //    font-weight: bold;
                        //
                        //    @media screen and (max-width: 680px){
                        //        padding-top: 0;
                        //    }
                        //
                        //    @media screen and (max-width: 375px){
                        //        max-width: 100px
                        //    }
                        //}

                        &--active {
                            p.text {
                                color: #be2f22;
                            }

                            span.circle {
                                border: 1px solid #be2f22;

                                &:before {
                                    width: 18px;
                                    height: 18px;
                                    content: "";
                                    border-radius: 100px;
                                    background-color: #be2f22;
                                    position: absolute;
                                    top: 3px;
                                    left: 3px;
                                    opacity: 1;
                                    transform: scale(0.9);
                                }
                            }
                        }
                    }

                    .artifice {
                        position: relative;
                        display: none;

                         @media screen and (max-width: 680px) {
                            display: block;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            width: 3px;
                            height: 13px;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            top: 15px;
                            right: 15px;
                            z-index: 2;
                            background: #bebebe;
                            mix-blend-mode: normal;
                            border-radius: 10px;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            width: 3px;
                            height: 13px;
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            top: 15px;
                            right: 22px;
                            z-index: 2;
                            background: #bebebe;
                            mix-blend-mode: normal;
                            border-radius: 10px;
                        }
                    }

                    select.select {
                        background: #fbfbfb;
                        border: 1px solid #bebebe;
                        box-sizing: border-box;
                        border-radius: 10px;
                        color: #686B6F;
                        width: 100%;
                        display: block;
                        height: 40px;
                        font-size: 15px;
                        font-family: "Scotia_Rg";
                        font-weight: normal;
                        padding-left: 15px;
                        outline: none;
                        position: relative;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding-right: 44px;
                        cursor: pointer;
                    }
                }
            }

            .participant {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-bottom: 40px;

                &__item {
                    max-width: 565px;
                    width: 100%;
                    border: 1px solid #bebebe;
                    border-radius: 10px;
                    padding: 20px 28px;
                    background-color: #fbfbfb;
                    margin-bottom: 22px;
                    box-sizing: border-box;
                    text-decoration: none;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    @media screen and (max-width: 680px){
                        padding: 15px;
                    }
                }

                .row {
                    display: flex;
                    flex-direction: row;

                    &--top {
                        justify-content: space-between;

                        @media screen and (max-width: 680px){
                            flex-direction: column;
                        }
                    }

                    &--medium {
                        justify-content: flex-start;
                        margin-top: 20px;
                        margin-bottom: 10px;

                        @media screen and (max-width: 680px){
                            margin-top: 15px;
                        }
                    }

                    &--bottom {
                        justify-content: space-between;
                    }
                }

                span.tag {
                    color: #FFF;
                    font-family: "Scotia_Rg";
                    font-size: 12px;
                    background-color: #7354b9;
                    padding: 5px 14px;
                    border-radius: 5px;
                    line-height: normal;

                    @media screen and (max-width: 680px){
                        margin-bottom: 10px;
                        padding: 10px 14px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }

                .state {
                    flex-direction: row;
                    align-items: center;
                    display: none;

                    &:last-child {
                        display: flex;
                    }

                    @media screen and (max-width: 680px){
                        justify-content: flex-end;
                    }

                    &__text {
                        color: #626262;
                        font-family: "Scotia_Rg";
                        font-size: 12px;
                        margin-right: 10px;

                        @media screen and (max-width: 680px){
                            justify-content: flex-end;
                            font-size: 14px;
                        }
                    }

                    &__icon {
                        &--success {
                            height: 5px;
                            width: 13px;
                            border: 3px solid #88df0a;
                            border-width: 0 0 3px 3px;
                            transform: rotate(-45deg);
                            margin-bottom: 4px;
                        }

                        &--alert {
                            width: 18px;
                            height: 18px;
                            background-color: #ffd200;
                            border-radius: 100px;
                            border: none;
                            position: relative;

                            &:before {
                                content: "!";
                                font-family: "Scotia";
                                font-size: 14px;
                                position: absolute;
                                color: #FFF;
                                top: 2px;
                                left: 7.5px;
                            }
                        }
                    }
                }

                span.name {
                    color: #626262;
                    font-size: 24px;
                    text-align: left;
                    font-family: "Scotia_Rg";

                    @media screen and (max-width: 680px){
                        font-size: 20px;
                    }
                }

                span.company {
                    color: #626262;
                    font-size: 15px;
                    font-family: "Scotia_Rg";
                }

                span.point {
                    color: #626262;
                    font-size: 16px;
                    font-family: "Scotia";

                    @media screen and (max-width: 680px){
                        font-size: 15px;
                    }
                }
            }

            .paginator {
                display: flex;
                justify-content: center;

                .number {

                    &.text {
                        color: #626262;
                        font-size: 16px;
                        text-align: left;
                        font-family: "Scotia_Rg";
                        padding: 0 40px;
                    }
                }

                .arrow {
                    width: 12px;

                    &--prev {
                        position: relative;
                        cursor: pointer;

                        &:before {
                            position: absolute;
                            content: '';
                            background-color: #474747;
                            width: 3px;
                            height: 11px;
                            transform: rotate(45deg);
                            z-index: 2;
                            mix-blend-mode: normal;
                            opacity: 1;
                            left: 4px;
                            top: 1px;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            background-color: #474747;
                            width: 3px;
                            height: 11px;
                            transform: rotate(-45deg);
                            z-index: 2;
                            mix-blend-mode: normal;
                            opacity: 1;
                            left: 4px;
                            bottom: 1px;
                        }
                    }

                    &--next {
                        position: relative;
                        cursor: pointer;

                        &:before {
                            position: absolute;
                            content: '';
                            background-color: #474747;
                            width: 3px;
                            height: 11px;
                            transform: rotate(-45deg);
                            z-index: 2;
                            mix-blend-mode: normal;
                            opacity: 1;
                            left: 4px;
                            top: 1px;
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            background-color: #474747;
                            width: 3px;
                            height: 11px;
                            transform: rotate(45deg);
                            z-index: 2;
                            mix-blend-mode: normal;
                            opacity: 1;
                            left: 4px;
                            bottom: 1px;
                        }
                    }
                }
            }
        }
    }

}

