#resetpassword {

    /* globals */

    section {
        width: 100%;
    }

    .section-container {
        max-width: 1036px;
        margin: 0 auto;
        height: 100%;
        padding: 0 24px;
    }

    .section-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    /* end globals */

    .section-index {
        background-image: url(../images/bg_form.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
        height: 100vh;
    }

    h1.title {
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
        font-family: "Scotia";
        font-weight: bold;
        color: #be2f21;
        display: flex;

        @media screen and (max-width: 480px){
            font-size: 25px;
        }
    }

    h2.subtitle {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        font-family: "Scotia_Rg";
        font-size: 15px;
        display: flex;
        color: #bebebe;
    }

    .resetpassword {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 480px){
            width: 100%;
        }

        &__row {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          flex-direction: column;

           @media screen and (max-width: 480px){
              margin-top: 20px;
           }

          &--error {
            margin-top: 10px;
            //animation: fadein 3s linear 1  forwards;

            li {
                font-family: 'Scotia_Rg';
                color: #be2f21;
                font-size: 16px;
            }
          }
        }
    }

    .errorlist {
      width: 100%;
      max-width: 275px;
      margin: 0;

      li {
          font-family: 'Scotia_Rg';
          color: #be2f21;
          font-size: 16px;
      }
    }

    @keyframes fadein{
        from { opacity: 1; }
        to { opacity: 0; }
    }


    label.form-error {
        font-family: "Scotia_Rg";
        font-size: 16px;
        color: #be2f21;
        margin-top: 6px;
        display: flex;
        text-align: left;
    }

    input.text {
        background: #fbfbfb;
        border: 1px solid #bebebe;
        box-sizing: border-box;
        border-radius: 10px;
        color: #686B6F;
        width: 100%;
        max-width: 275px;
        display: block;
        height: 42px;
        font-size: 15px;
        font-family: "Scotia_Rg";
        font-weight: normal;
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        position: relative;

        @media screen and (max-width: 480px){
            width: 100%;
            max-width: 100%;
        }
    }

     a.link {
        color: #686B6F;
        font-size: 15px;
        font-family: "Scotia_Rg";
        text-align: center;
         display: flex;
         margin: 0 auto;
     }

    button.submit {
        font-size: 17px;
        font-family: "Scotia";
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        width: 280px;
        height: 50px;
        background-color: #7354b9;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;

        @media screen and (max-width: 480px){
            width: 100%;
        }
    }
}