#thanks {

    /* globals */

    section {
        width: 100%;
    }
      
    .section-container {
        max-width: 1036px;
        margin: 0 auto;
        height: 100%;
        padding: 0 24px;
    }
      
    .section-inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        height: 100%;
    }

    /* end globals */

    .section-message {
        background-image: url(../images/bg_form.jpg);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
        height: 100vh;
    }

    h1.title {
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        font-family: "Scotia";
        font-weight: bold;
        color: #be2f21;
        display: flex;

        @media screen and (max-width: 480px){
            font-size: 25px;
        }  
    }

    h2.subtitle {
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        font-family: "Scotia_Rg";
        font-size: 15px;
        display: flex;
        color: #bebebe;
    }

    a.btn {
        margin-top: 40px;
        font-size: 17px;
        font-family: "Scotia"; 
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        width: 280px;
        height: 50px;
        background-color: #7354b9;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 480px){
            width: 100%;
        }  
    }
}