#swal2-content {
    max-width: 704px;
    width: 100%;
}

.swal2-container {
    z-index: 999999;
}

.swal2-popup {
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    min-height: 360px;
    height: auto;
    background-image: url(../images/bg_modal.jpg);
    background-repeat:repeat;
    background-position: center;
    padding: 3em;
    box-sizing: content-box;

    @media screen and (max-width: 480px){    
        padding: 2.25em 1.4em;
    }

    &--medium {
        max-width: 620px;
    }
}

.swal2-actions {
    margin: 0;
}

.swal2-close {
    color:#2d2d2d;
    font-size: 2.5em;
    font-weight: bold;
    outline: none !important;

    &:hover {
        color: #be2f21;
    }
}


h2.swal2-title {
    font-size: 30px;
    font-family: 'Scotia';
    color: #be2f21;
    font-weight: bold;
    margin: 0 0 1em;

    @media screen and (max-width: 480px){    
        font-size: 20px;
    }
}

.swal2-content {
    font-size: 25px;
    font-family: 'Scotia_Rg';
    color: #3b3b3b;
    display: flex;

    @media screen and (max-width: 480px){    
        font-size: 15px;
    }

    p {
        margin: 0;
        margin-bottom: 20px;
        font-size: 20px;

        &:last-child {
            margin-bottom: 25px;
        }
        
        @media screen and (max-width: 480px){    
            font-size: 15px;
            margin: 0 0 1em;

            &:last-child {
                margin: 0 0 1em;
            }
        }
    }

    
}

.swal2-icon.swal2-warning {
    border-color: #be2f21;
    color: #be2f21;
    width: 4em;
    height: 4em;
    margin: 0;
    margin-bottom: 15px;

    &:before {
        font-weight: bold;
        position: absolute;
        top: 3px;
    }
}

.swal2-styled.swal2-confirm { 
    background-color: #7354b9;
    font-size: 20px;
    font-family: 'Scotia';
    transition: all 0.1s ease-out;

    @media screen and (max-width: 480px){    
        font-size: 15px;
    }

    &:focus {
        box-shadow: none;
    }

    &:hover {
        background-image: none !important;
        background-color: #57477c;        
    }
}
