.jcf-file.jcf-focus, .jcf-file.jsc-focus * {
    border-color: #bebebe !important;

    span {
        border-color: #bebebe !important;
    }
}

.jcf-checkbox {
    border-radius: 3px;
    max-width: 18px;
    width: 100%;
    height: 18px;

    span {
        opacity: 0;
        display: block;
    }

    &.form-error {
        border-color: #F20000 !important;
    }
}

.jcf-checkbox.jcf-checked {
    background-color: #353535;

    span {
        opacity: 1;
        border-color: #FFF !important;
        transition: all 0.2s ease;
    }
}

.jcf-checkbox.jcf-focus, .jcf-checkbox.jsc-focus * {
    border-color: #686B6F !important;

    span {
        border-color: #FFF !important;
    }
}

.jcf-radio {
    max-width: 18px;
    width: 100%;
    height: 18px;
    border-radius: 99px;

    span {
        opacity: 0;
        display: block;
        transform: scale(0.4);
        transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    }
}

.jcf-radio.jcf-checked {
    background-color: #FFF;

    span {
        opacity: 1;
        transform: scale(0.9);
        background: #353535 !important;
    }
}

.jcf-radio.jcf-focus, .jcf-radio.jsc-focus * {
    border-color: #686B6F !important;

    span {
        border-color: #FFF !important;
    }
}

.jcf-file {
    background: #fbfbfb;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    border-radius: 10px;
    color: #686B6F;
    width: 100%;
    display: block;
    height: 54px;
    font-size: 15px;
    font-family: "Scotia_Rg";        
    font-weight: normal;
    padding-left: 11px;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;

    &.form-error {
        border-color: #F20000 !important;

        .jcf-fake-input {
            color: #F20000;
        }

        .jcf-upload-button {
            color: #F20000;
            border: 1px solid #F20000;
            border-color: #F20000 !important;
        }
    }
}

.jcf-file .jcf-fake-input, .jcf-file .jcf-upload-button {
    background: #fbfbfb;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    border-radius: 3.5px;
    color: #686B6F;
    display: block;
    height: 36px;
    font-size: 15px;
    font-family: "Scotia_Rg";        
    font-weight: normal;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;

    @media screen and (max-width: 320px){    
        font-size: 13px;
        padding-top: 3px;
    }
}

.jcf-file .jcf-fake-input {
    order: 2;
    border: 0;
    width: 100%;
    max-width: 380px;
}

.jcf-upload-button {
    order: 1;
    width: 100%;
    max-width: 158px;
    justify-content: center;
}


.jcf-file .jcf-real-element {
    cursor: pointer;
    z-index: 999;
}
