// Font Path
// --------------------------
$font-path: 'fonts';
$version: 1.0;

@font-face{
  font-family: 'Scotia';
  src: url('#{$font-path}/Scotia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Scotia_A_Headline';
  src: url('#{$font-path}/Scotia_A_Headline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Scotia_Headline';
  src: url('#{$font-path}/Scotia_Headline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Scotia_Lt';
  src: url('#{$font-path}/Scotia_Lt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Scotia_Rg';
  src: url('#{$font-path}/Scotia_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
