$ik-blue: #2a3d75;
$ik-blue-2: #334c90;
$ik-yellow: #f9de1d;
$ik-yellow-2: #fcdf45;
$ik-title: 'GothamBlack';
$ik-subtitle: 'GothamLight';
$ik-subtitle-bold: 'GothamBold';
$ik-title-alt: 'GothamUltra';
$ik-medium: 'GothamMedium';